@using Benefit.Web.Helpers
<header>
    <div class="container">
        <div class="container_table topheader_content position-relative">
            <div class="position-absolute logo-container" style="min-width: 150px;">
                @{
                    var href = (RouteDataHelper.ControllerName == "home" && RouteDataHelper.ActionName == "index") ? "#" : Url.Action("Index", "Home", new { area = string.Empty }, Request.Url.Scheme);
                }
                <a class="logo" href='@href'></a>
                <div class="show_on_tablet logo_region">
                    @using (Html.BeginForm("LogOff", "Account", new { area = ""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="btn btn-danger margin-top-10" href="javascript:document.getElementById('logoutForm').submit()">
                            Вийти
                        </a>
                    }
                </div>
            </div>
            <div class="position-absolute top-right contacts-container">
                @using (Html.BeginForm("LogOff", "Account", new { area = ""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-danger margin-top-10" href="javascript:document.getElementById('logoutForm').submit()">
                        Вийти
                    </a>
                }
            </div>
        </div>
    </div>
</header>