<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="f_soc_p f_show_on_mobile">
                <a href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/groups/benefitcompany" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/benefitcompany" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/benefit__ua/" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="viber://chat?number=%2B380500354555" class="viber" title="Viber"><i class="fa fa-volume-control-phone " aria-hidden="true"></i></a>
                <a href="whatsapp://send?phone=%2B380500354555" class="whatsapp" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href="skype:live:info_706852?chat" class="skype" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
            <div class="f_contact">
                <u>Служба підтримки:</u>
                <div class="row">
                    <div class="col-sm-5">
                        (050) 035 45 55<br/>
                        (063) 035 45 55<br/>
                        (097) 035 45 55
                    </div>
                    <div class="col-sm-6 lebedev">
                        <div>
                            <span>Пн.-Пт.</span>
                            <span>9:00 — 17:00</span>
                        </div>
                        <div>
                            <span>Сб., Нд.</span>
                            <span>вихідний</span>
                        </div>
                        <div>
                            <span>Обід:</span>
                            <span>13:00-14:00</span>
                        </div>
                    </div>
                </div>
                <address class="f_addr show_on_tablet">
                    <u>E-maіl:</u> <br>
                    <a class="whitelink_no_changes" href="mailto:info@benefit-company.com">info@benefit-company.com</a>
                    <br />
                    <br />
                    <u>Адреса для листування:</u>
                    <br />
                    а/с №8 пл. Кирила та Мефодія,4<br>
                    м.Ужгород, 88005
                </address>
            </div>
        </div>
        <div class="col-md-2">
            <address class="f_addr">
                <u>E-maіl:</u> <br>
                <a class="whitelink_no_changes" href="mailto:info@benefit-company.com">info@benefit-company.com</a>
                <br />
                <br />
                <u>Адреса для листування:</u>
                <br />
                а/с №8 пл. Кирила та Мефодія,4<br>
                м.Ужгород, 88005
            </address>
        </div>
        <div class="col-md-3">
            <div class="f_links">
                <a href="@Url.RouteUrl("pagesRoute", new { id = "pravila_koristuvannya_kartkoyu_benefit" })">Правила користування <br />бонусною карткою <br />«Benefit Card»</a>
                <a href="@Url.RouteUrl("pagesRoute", new { id = "stati-postachalnikom" })">Співпраця з Benefit Company</a>
                <a href="#">Новини</a>
            </div>
            <div class="f_soc_p show_on_tablet f_hide_on_mobile">
                <a href="#" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="f_soc_p hide_on_tablet">
                <a title="Youtube" href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a title="Facebook" href="https://www.facebook.com/groups/benefitcompany" class="fb" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a title="Twitter" href="https://twitter.com/benefitcompany" class="tw" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a title="Instagram" href="https://www.instagram.com/benefit__ua/" class="ig" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="viber://chat?number=%2B380500354555" class="viber" title="Viber"><i class="fa fa-volume-control-phone " aria-hidden="true"></i></a>
                <a href="whatsapp://send?phone=%2B380500354555" class="whatsapp" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href="skype:live:info_706852?chat" class="skype" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
            <p class="f_soc_under">
                © 2015-2017 ТОВ «GLOBAL BENEFIT NETWORK COMPANY».
                Всі права захищені.
            </p>
        </div>
    </div>
</div>
