<div class="partner_menu ol-lg-1 col-md-1 col-sm-1 col-xs-1">
    <ul>
        <li>
            <a class="partner_menu_main active" href="@Url.Action("Index","Panel")">Головна</a>
        </li>
        <li>
            <a class="partner_menu_profile" href="#">Профіль</a>
        </li>
        <li>
            <a class="partner_menu_network" href="#">Структура</a>
        </li>
        <li>
            <a class="partner_menu_reward" href="#">План винагород</a>
        </li>
        <li>
            <a class="partner_menu_study" href="#">Бізнес навчання</a>
        </li>
        <li>
            <a class="partner_menu_finance" href="#">Фінансовий облік</a>
        </li>
        <li>
            <a class="partner_menu_history" href="#">Історія замовлень</a>
        </li>
        <li>
            <a class="partner_menu_chosen" href="#">Обране</a>
        </li>
        <li>
            <a class="partner_menu_write_us" href="#">Написати <br>нам</a>
        </li>
    </ul>
</div>