@model IEnumerable<Benefit.Domain.Models.Message>
@if (!User.Identity.IsAuthenticated)
{
    <span>Для користування чатом авторизуйтесь на сайті</span>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul class="chat">
                            @Html.Action("Comments")
                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Введіть повідомлення..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm" id="btn-chat">
                                        Відправити
                                    </button>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
