@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@model List<Benefit.Domain.Models.Message>

@foreach (var message in Model)
{
    <li class="left clearfix">
        <span class="chat-img pull-left">
            @{
                var avaUrl = string.IsNullOrEmpty(message.User.Avatar) ? "avatar.jpg" : message.User.Avatar;
            }
            <img src="~/Images/UserAvatar/@avaUrl" alt="User Avatar" class="img-circle" width="50" height="50" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font">@message.User.FullName</strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>
                    @message.TimeStamp.ToLocalTimeWithFormat()
                    @if (User.IsInRole(DomainConstants.AdminRoleName))
                    {
                        <a href="#" class="glyphicon glyphicon-remove text-danger delete-message" data-message-id="@message.Id"></a>
                    }
                </small>
            </div>
            <p class="pull-left">
                @message.Text
            </p>
        </div>
    </li>
}