@model Benefit.Domain.Models.Seller
@{
    var total = Model.CurrentBill - Model.GreyZone;
    var className = total >= 0 ? "alert-success" : "alert-danger";
}
<div class="alert @className">
    <div class="row">
        <div class="col-md-3">
            <div class="gray">На рахунку</div>
            <div style="font-size:2em;" class="black">@Model.CurrentBill.ToString("F") грн</div>
        </div>
        <div class="col-md-3">
            <div class="gray">Сіра зона</div>
            <div style="font-size:2em;" class="black">@Model.GreyZone.ToString("F") грн</div>
        </div>
        <div class="col-md-3" style="border-left: solid 1px white;">
            <div class="gray">Разом</div>
            <div style="font-size:2em;" class="black">@(total.ToString("F")) грн</div>
        </div>
    </div>
</div>
@if (Model.BlockOn.HasValue)
{
    var daysLeft = (Model.BlockOn.Value - DateTime.UtcNow).Days;
    <div class="alert alert-danger padding-30 border-left" style="border-left: 3px solid #fc6d72; color:#333;">
        У Вас борг за рахунком, магазин буде заблокований через @daysLeft днів(я)
    </div>
}
@if (!Model.IsActive)
{
    <div class="alert alert-danger padding-30 border-left" style="border-left: 3px solid #fc6d72; color:#333;">
        Ваш магазин заблоковано, покупці не зможуть робити замовлення ваших товарів. Для розблокування поповніть рахунок.
    </div>
}
<div class="bordered margin-top-20 padding-10">
    <p class="font-bigger">Поповненя рахунку</p>
    <div>
        Сума поповнення рахунку <input id="data-bill-sum" type="number" style="width:100px; height:30px; border-radius: 3px; box-shadow: inset 3px 3px 1px 0 #eeeeef; font-size: 15px!important;" /> грн
        <button type="button" class="btn btn-success margin-left-30" id="fn-create-bill">Формувати рахунок</button>
    </div>
</div>