@model Benefit.Domain.Models.CompanyRevenue

@{
    ViewBag.Title = "Головна";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/datepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script>
        $(".date-picker").datepicker();
    </script>
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-2">
            <div class="input-group">
                <input class="form-control date-picker" id="date-picker" name="date" data-date-format="dd-mm-yyyy" type="text" value="@(Model == null ? "" : Model.Stamp.ToString("dd-MM-yyyy"))">
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
            </div>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-purple btn-sm">
                Фільтрувати
                <i class="icon-search icon-on-right bigger-110"></i>
            </button>
        </div>
    </div>
}

<br />
@if (Model != null)
{

    <div class="infobox infobox-green width-30 infobox-dark">
        <i class="icon-money bigger-250"></i>

        <div class="infobox-data">
            <div class="infobox-content">Cума доступних бонусів сумарно</div>
            <div class="infobox-content">@Model.TotalBonuses.ToString("F")</div>
        </div>
    </div>
    <div class="infobox infobox-blue width-30 infobox-dark">
        <i class="icon-money bigger-250"></i>

        <div class="infobox-data">
            <div class="infobox-content">Cума зароблених бонусів сумарно</div>
            <div class="infobox-content">@Model.TotalEarnedBonuses.ToString("F")</div>
        </div>
    </div>
    <div class="infobox infobox-purple width-30 infobox-dark">
        <i class="icon-money bigger-250"></i>

        <div class="infobox-data">
            <div class="infobox-content">Сума бонусів в обробці сумарно</div>
            <div class="infobox-content">@Model.TotalHangingBonuses.ToString("F")</div>
        </div>
    </div>

}
else
{
    <span>Інформації не знайдено</span>
}