@model  KeyValuePair<string, IEnumerable<Benefit.Web.Models.HierarchySelectItem>>
<div class="btn-group hierarchy-select" data-resize="auto">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="selected-label pull-left">&nbsp;</span>
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu open">
        <div class="hs-searchbox">
            <input type="text" class="form-control" autocomplete="off">
        </div>
        <ul class="dropdown-menu inner" role="menu">
            @foreach (var option in Model.Value)
            {
                <li data-value="@option.Value" data-level="@option.Level">
                    <a href="#">@option.Text</a>
                </li>
            }
        </ul>
    </div>
    <input class="hidden hidden-field" name="@Model.Key" readonly="readonly" aria-hidden="true" type="text" />
</div>