<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<!--    <add key="ApiHost" value="https://benefit-company.com"/>-->
    <add key="ApiHost" value="http://localhost/Benefit.RestApi/"/>
    <add key="ApiPrefix" value="/api/NfcReader/v1"/>
    <add key="ApiTokenPrefix" value="Token"/>
  </appSettings>
</configuration>