<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHost" value="http://card.benefit-company.com/"/>
    <!--<add key="ApiHost" value="http://card.benefit-company.biz/"/>-->
    <!--<add key="ApiHost" value="http://localhost/Benefit.RestApi/"/>-->
    <add key="ApiPrefix" value="api/NfcReader/v1/"/>
    <add key="ApiTokenPrefix" value="Token"/>
    <add key="ReaderHandShakePrefix" value="BECO"/>
    <add key="OfflineFileSalt" value="d41d8cd9"/>
  </appSettings>
</configuration>