@using Benefit.Common.Constants
@using Benefit.Common.Helpers
@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@model  Benefit.DataTransfer.ViewModels.PaginatedList<Order>

@if (Model.Items.Any())
{
    <ul class="pagination">
        @{
            var firstStage = Model.Pages >= ListConstants.PagingFirstStage ? ListConstants.PagingFirstStage : Model.Pages;
            var lastDisplayedPage = 0;
        }
        @for (var i = 0; i < Model.Pages; i++)
        {
            if ((i >= 0 && i < firstStage) ||
                (i >= Model.ActivePage - ListConstants.PagingActivePageSiblinbgsRange && i <= Model.ActivePage + ListConstants.PagingActivePageSiblinbgsRange) ||
                (i >= Model.Pages - ListConstants.PagingFirstStage && i < Model.Pages))
            {
                <li class="@(i == Model.ActivePage ? "active" : "" )">
                    <a href="#" data-page-number="@i">@(i + 1)</a>
                </li>
                lastDisplayedPage = i;
            }
            else
            {
                if (i == lastDisplayedPage + 1)
                {
                    <li>
                        <span class="pull-left">...</span>
                    </li>
                }
            }
        }
    </ul>
}
<div class="comment-section" style="display:none;">
    <span>Коментар до статусу</span>
    <br />
    <textarea class="status-comment" style="height:115px; width:100%;" placeholder="Текст повідомлення"></textarea>
</div>
<div class="orders-list">
    <div class="order-wrap">
        <div class="order-preview">
            <div class="col text-left" style="width: 190px;">
                <a href="#">Номер замовлення</a>
            </div>
            <div class="col" style="width: 165px;">
                <a href="#">Дата замовлення</a>
            </div>
            <div class="col" style="flex-grow: 1;">
            </div>
            <div class="col" style="width: 60px;">
                <a href="#">К-ть</a>
            </div>
            <div class="col text-center" style="width: 150px;">
                <a href="#">Сума</a>
            </div>
            <div class="col" style="width: 380px;">
                <a href="#">Статус замовлення</a>
            </div>
            <br style="clear:both" />
        </div>
    </div>
    @foreach (var item in Model.Items)
    {
        @Html.Partial("_OrderPartial", item)
    }
</div>