@model Benefit.Domain.Models.Order

@{
    ViewBag.Title = "Замовлення №" + Model.OrderNumber;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Content/css/order-details.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
}

@section scripts
    {
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script>
        var orderProductFromUrl = '@Url.Action("AddProductForm", new { orderId = Model.Id })';
        var updateOrderStatusUrl = '@Url.Action("UpdateStatus")';

        function LoadOrderProductForm() {
            $("#orderProductForm").load(orderProductFromUrl, function (data) {
                $("#dialog").removeClass('hide').dialog({
                    buttons: [
                        {
                            text: "Зберегти",
                            "class": "btn btn-info",
                            click: function () {
                                $("form").submit();
                            }
                        }
                    ]
                });
            });
        };

        $("#updateStatus").click(function() {
            var status = $("#OrderStatus").val();
            var statusComment = $("#StatusComment").val();
            $.post(updateOrderStatusUrl,
            {
                orderStatus: status,
                statusComment: statusComment,
                orderId: '@Model.Id'
            }, function(data) {
                flashMessage("Статус замовлення було збережено");
            });
        });
    </script>
}
<div id="orderProductForm" class="margin-top-10">
</div>
@Html.Partial("~/Areas/Cabinet/Views/Panel/_OrderDetailsPartial.cshtml", Model)
<p>
    <a class="btn btn-primary margin-right-10 pull-left btn-sm" href="#" title="Додати товар" onclick="LoadOrderProductForm()">Додати товар</a>
</p>
