@{
    ViewBag.Title = "Замовлення";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{
    <script>
        var ordersUrl = '@Url.Action("GetOrdersList")';
        var soundPath = '@Url.Content("~/Content/sounds/newOrder.mp3")';
        var audio = new Audio(soundPath);

        $(function () {
            GetOrderList();

            setInterval(function () {
                GetOrderList();
            }, 30000);

            $(".switchNavigationType").click(function () {
                $(".switchNavigationType").removeClass("btn-primary");
                $(this).addClass("btn-primary");
                var navType = $(this).attr("data-navtype");
                $("#navType").val(navType);
                GetOrderList();
            });
        });

        function GetOrderList() {
            $.get(ordersUrl+"?orderType="+$("#navType").val(), function (data) {
                $("#ordersList").html(data.html);
                if (data.hasNewOrder) {
                    audio.play();
                } else {
                    audio.pause();
                }
            });
        }
    </script>
}
<label>Тип замовлення</label>
<div>
    <a data-navtype="BenefitSite" class="btn switchNavigationType btn-primary">Онлайн</a>
    <a data-navtype="BenefitCard" class="btn switchNavigationType">Benefit Card</a>
    @Html.Hidden("NavigationType", "BenefitSite", new { id = "navType" })
</div>
<div id="ordersList">
</div>