@using Benefit.Domain.Models
@{
    Layout = "_SellerLayout.cshtml";
    var seller = ViewBag.Seller as Seller;
    ViewBag.Title = seller.CatalogButtonName;
}
@section meta
{
    <meta name="description" content="@seller.CatalogButtonName @seller.SeoSuffix">
}
<div class="fn_ajax_content margin-top-10">
    <div class="block">
        <h1 class="h1">
            <span data-page="3">
                @seller.CatalogButtonName @seller.Name
            </span>
        </h1>
        <div class="seller-catalog padding" style="margin-bottom: 30px;">
            @foreach (var img in seller.Images.Where(entry => entry.ImageType == ImageType.SellerCatalog).OrderBy(entry => entry.Order))
            {
                <a href="~/Images/SellerCatalog/@seller.Id/@img.ImageUrl" data-fancybox="gallery">
                    <img src="~/Images/SellerCatalog/@seller.Id/@img.ImageUrl" width="200" />
                </a>
            }
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
