@{
    ViewBag.Title = "Відновлення паролю";
    Layout = "_SellerLayout.cshtml";
}

<div class="page-top maxwidth-theme">
    <h1>@ViewBag.Title</h1>
    <p>
        Ваш пароль було змінено. Будь ласка @Html.ActionLink("Натисніть тут щоб увійти на сайт", "login", "account")
    </p>
</div>