@model  Benefit.Domain.Models.ProductParameterProduct
<div class="row margin-bottom-15 feature-row" data-parameter-id="@Model.ProductParameterId">
    <div class="col-sm-3">
    </div>
    <div class="feature-value col-sm-4 no-padding-horizontal">
        <input class="feature_input" type="text" value="@(Model == null ? string.Empty : Model.StartText)" name="ProductParameterProducts[{n}].StartText" data-parameter-id="@Model.ProductParameterId">
        @Html.Hidden("ProductParameterProducts[{n}].ProductParameterId", Model.ProductParameterId)
        <button type="button" class="btn btn_mini btn-warning feature_multi_values fn-remove-product-option">
            <i class="icon-minus"></i>
        </button>
    </div>
</div>
