@model  Benefit.Domain.Models.ProductParameterProduct
<div class="row">
    <div class="col-md-11">
        @Html.DropDownList("ProductParameterProducts[{n}].StartValue", (IEnumerable<SelectListItem>)ViewBag.StartValue, null, new { @class = "product-option-value col-sm-6" })
        @Html.Hidden("ProductParameterProducts[{n}].StartText", Model.StartText)
        @Html.TextBox("ProductParameterProducts[{n}].Amount", Model.Amount, new { @class = "product-option-amount number-input col-sm-6", placeholder = "Кількість (за необхідністю)" })
        @Html.Hidden("ProductParameterProducts[{n}].ProductParameterId", Model.ProductParameterId)
    </div>
    <div class="col-md-1">
        <a href="#" onclick="$(this).parents('.row').eq(0).remove();">
            <i class="icon-only icon-remove red"></i>
        </a>
    </div>
</div>
