@using Benefit.Domain.Models
@using Benefit.Common.Extensions
@model IEnumerable<ExportImport>
@{
    ViewBag.Title = "Статус імпорту постачальників";
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Назва
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Тип
                </th>
                <th>
                    Останній час імпорту
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                var className = "";
                if (task.Status != null)
                {
                    switch (task.Status)
                    {
                        case ImportStatus.Success:
                            className = "bg-success";
                            break;
                        case ImportStatus.Error:
                            className = "bg-danger";
                            break;
                    }
                }
                <tr class="@className">
                    <td>
                        @task.Seller.Name
                    </td>
                    <td>
                        @if (task.IsActive)
                        {
                            <div class="icon-check-sign green"></div>
                        }
                        else
                        {
                            <div class="icon-ban-circle red"></div>
                        }
                    </td>
                    <td>
                        @task.SyncType.ToString()
                    </td>
                    <td>
                        @if (task.LastSync.HasValue)
                        {
                            <span>@task.LastSync.Value.ToLocalDateTimeWithFormat()</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
