@import "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic"; /*! *** Site sheets *** */

.ajax_load_btn{text-align:center;margin:0 0 20px;border:1px solid #f2f2f2;cursor:pointer}
.ajax_load_btn:hover{border-color:#d2d2d4}
.bottom_nav{padding-bottom:40px}
.bottom_nav.block{padding-top:17px}
.bottom_nav .module-pagination{padding-bottom:0}
.module-pagination .nums{display:inline-block;position:relative}
.more_text_ajax{font-size:13px;line-height:20px;font-weight:400;cursor:pointer;display:inline-block;position:relative;padding:15px 0 15px 34px;color:#333}
.more_text_ajax:after{content:"";display:block;position:absolute;width:19px;height:19px;left:5px;margin-top:-10px;top:50%;background:#a41b11 url(../../v3/images/Show_more.svg) center no-repeat;-webkit-transition:background .7s ease-in-out;-moz-transition:background .7s ease-in-out;-o-transition:background .7s ease-in-out;transition:background .7s ease-in-out}
.more_text_ajax.loading:after{-webkit-animation:spinner .5s linear infinite!important;animation:spinner .5s linear infinite!important;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
.more_text_ajax:hover:after,.ajax_load_btn:hover .more_text_ajax:after{-webkit-animation:spinner .5s ease-out 1;animation:spinner .5s ease 1;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
@-webkit-keyframes spinner1{from{-webkit-transform:rotate(360deg)}
    to{-webkit-transform:rotate(0deg)}
}
@keyframes spinner1{from{-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
    to{-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .alert h4 {
        margin-top: 0;
        color: inherit;
    }

    .alert .alert-link {
        font-weight: bold;
    }

    .alert > p,
    .alert > ul {
        margin-bottom: 0;
    }

        .alert > p + p {
            margin-top: 5px;
        }

.alert-dismissable {
    padding-right: 35px;
}

    .alert-dismissable .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

    .alert-success hr {
        border-top-color: #c9e2b3;
    }

    .alert-success .alert-link {
        color: #356635;
    }

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

    .alert-info hr {
        border-top-color: #a6e1ec;
    }

    .alert-info .alert-link {
        color: #2d6987;
    }

.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

    .alert-warning hr {
        border-top-color: #f8e5be;
    }

    .alert-warning .alert-link {
        color: #a47e3c;
    }

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

    .alert-danger hr {
        border-top-color: #e6c1c7;
    }

    .alert-danger .alert-link {
        color: #953b39;
    }

textarea {
    background: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    color: #383838;
    height: auto;
    font-size: 13px;
    padding: 8px 13px 7px;
    width: 100%;
}

.x-rating {
    position: relative
}

    .x-rating:hover .x-rating__hint {
        visibility: visible;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        -webkit-transition: opacity .3s linear .2s;
        -moz-transition: opacity .3s .2s linear;
        -o-transition: opacity .3s .2s linear;
        transition: opacity .3s linear .2s
    }

.x-rating__bar {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    background: linear-gradient(99deg,yellow,orange);
    z-index: 1;
    max-width: 100%
}

.x-rating__hint {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    left: 0;
    top: 100%;
    margin-top: 15px;
    padding: 20px;
    background-color: #dfe1f0;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease,visibility 0s ease .3s;
    -moz-transition: opacity .3s ease,visibility 0s .3s ease;
    -o-transition: opacity .3s ease,visibility 0s .3s ease;
    transition: opacity .3s ease,visibility 0s ease .3s
}

    .x-rating__hint:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 17px;
        width: 0;
        height: 0;
        border-color: transparent transparent #dfe1f0;
        border-style: solid;
        border-width: 10px
    }

.x-rating__mask {
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.414,13.562 L19.571,17.234 L21.331,23.052 C21.81,24.636 21.1,25.155 19.739,24.208 L14.75,20.737 L9.761,24.208 C8.402,25.154 7.689,24.638 8.169,23.052 L9.929,17.234 L5.086,13.562 C3.767,12.562 4.036,11.724 5.693,11.691 L11.77,11.567 L13.766,5.826 C14.31,4.262 15.189,4.26 15.733,5.826 L17.729,11.567 L23.807,11.691 C25.461,11.724 25.735,12.561 24.414,13.562 L24.414,13.562 Z M-2,34 L34,34 L34,-2 L-2,-2 L-2,34 Z'%3E%3C/path%3E%3C/svg%3E");
    z-index: 2;
    top: 0;
    right: -2px;
    bottom: 0;
    left: 0
}

.x-rating__progress {
    position: relative;
    background-color: #dfe1f0;
    width: 150px;
    height: 28px;
    margin-left: -4px
}

.x-rating__info {
    margin-top: 10px
}

.x-rating_size_small .x-rating__progress {
    width: 100px;
    height: 18px;
    margin-left: -2px
}

.x-rating_size_small .x-rating__mask {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20px' height='20px' viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.414,13.562 L19.571,17.234 L21.331,23.052 C21.81,24.636 21.1,25.155 19.739,24.208 L14.75,20.737 L9.761,24.208 C8.402,25.154 7.689,24.638 8.169,23.052 L9.929,17.234 L5.086,13.562 C3.767,12.562 4.036,11.724 5.693,11.691 L11.77,11.567 L13.766,5.826 C14.31,4.262 15.189,4.26 15.733,5.826 L17.729,11.567 L23.807,11.691 C25.461,11.724 25.735,12.561 24.414,13.562 L24.414,13.562 Z M-2,34 L34,34 L34,-2 L-2,-2 L-2,34 Z'%3E%3C/path%3E%3C/svg%3E")
}

.x-rating_size_middle .x-rating__progress {
    width: 175px;
    height: 35px
}

.x-rating_size_middle .x-rating__mask {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='35px' height='35px' viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.414,13.562 L19.571,17.234 L21.331,23.052 C21.81,24.636 21.1,25.155 19.739,24.208 L14.75,20.737 L9.761,24.208 C8.402,25.154 7.689,24.638 8.169,23.052 L9.929,17.234 L5.086,13.562 C3.767,12.562 4.036,11.724 5.693,11.691 L11.77,11.567 L13.766,5.826 C14.31,4.262 15.189,4.26 15.733,5.826 L17.729,11.567 L23.807,11.691 C25.461,11.724 25.735,12.561 24.414,13.562 L24.414,13.562 Z M-2,34 L34,34 L34,-2 L-2,-2 L-2,34 Z'%3E%3C/path%3E%3C/svg%3E")
}

.x-rating_type_one-line .x-rating__info, .x-rating_type_one-line .x-rating__progress {
    display: inline-block;
    vertical-align: middle
}

.x-rating_type_one-line .x-rating__info {
    margin-top: 0;
    margin-left: 5px
}

.x-rating_theme_bigl .x-rating__bar {
    background: #f55832
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.33;
    font-weight: normal;
    font-family: "PT Sans",sans-serif;
    color: #313438;
    font-size: 15px;
    overflow-x: hidden
}

.admTools {
    zoom: .7
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important
}

    .preloader .status {
        background: url(../images/loading_lg.gif) no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 50%;
        top: 50%
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit
}

    h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span, .h1 > span, .h2 > span, .h3 > span, .h4 > span, .h5 > span, .h6 > span {
        color: #91c12f
    }

h1, .h1 {
    font-size: 1.5rem
}

h2, .h2 {
    font-size: 1.375rem
}

h3, .h3 {
    font-size: 1.0625rem
}

h4, .h4 {
    font-size: 0.9375rem
}

h5, .h5 {
    font-size: 0.9375rem
}

h6, .h6 {
    font-size: 1rem
}

.page-header {
    margin: 0.9375rem 0 1.5625rem;
    text-transform: uppercase
}

    .page-header h1 {
        margin: 0;
        font-size: 1.375rem
    }

@media (max-width: 991px) {
    [class*="col-"] {
        text-align: center
    }
}

@media (min-width: 992px) and (max-width: 1339px) {
    .content-aside {
        width: 27% !important;
        padding-right: 0
    }

    .content-main {
        width: 72% !important;
        padding-right: 0
    }
}

@media (min-width: 1340px) {
    .content-aside {
        width: 23% !important
    }

    .content-main {
        width: 77% !important
    }
}

.boxed {
    background: #f1eee6
}

    .boxed .wrapper {
        max-width: 1320px;
        background: #fff;
        box-shadow: 0px 0px 15px rgba(99,103,108,0.15)
    }

@media (min-width: 1340px) {
    .boxed .wrapper .container {
        padding: 0px 2.1875rem
    }
}

.wrapper {
    position: relative;
    margin: 0 auto
}

#fn-content {
    min-height: 40vh
}

#header {
    position: relative;
    top: 0rem;
    width: 100%;
    -webkit-transition: all .222s;
    transition: all .222s;
    z-index: 99;
    background: rgba(255,255,255,0.55)
}

    #header ul {
        margin: 0;
        padding: 0
    }

        #header ul li a {
            color: #1a1a1a;
            display: block
        }

    #header #top {
        font-size: 0.85rem;
        border-bottom: 1px solid #e0e0e0
    }

        #header #top li a {
            padding: 0.4375rem 0.625rem
        }

    #header #main {
        padding: 0.3125rem 0rem
    }

        #header #main .text-plus-icon {
            font-size: 1.25rem;
            margin: 0.625rem 0rem
        }

@media (max-width: 1339px) {
    #header .logo {
        padding-top: 0.4375rem
    }
}

@media (max-width: 991px) {
    #header .logo {
        padding-top: 0.9375rem
    }
}

@media (min-width: 1340px) {
    #header #main [class*="col-"] {
        padding: 0.9375rem 0.9375rem
    }
}

.informers2 > div a {
    color: #c7c7c7;
    position: relative;
    text-align: center;
    font-size: 0.71875rem;
    display: inline-block;
    margin: 0 0.3125rem
}

    .informers2 > div a > span {
        position: absolute;
        padding: 0;
        font-weight: bold;
        top: 0.25rem;
        right: -0.125rem;
        width: 1.375rem;
        height: 1.375rem;
        line-height: 1.25rem;
        border-radius: 50%;
        background: rgba(255,255,255,0.97);
        box-shadow: 0px 1px 4px 2px rgba(128,128,128,0.18)
    }

    .informers2 > div a > [class*="ico-"] {
        margin-right: 0.375rem;
        font-size: 1.75rem;
        color: #e0e0e0
    }

.informers2 .active {
    color: #4d6719
}

    .informers2 .active [class*="ico-"] {
        color: #94c530
    }

    .informers2 .active span {
        box-shadow: 0px 0px 0px 2px rgba(111,148,36,0.68)
    }

@media (max-width: 991px) {
    .informers2 > div a {
        font-size: 0.84375rem
    }

        .informers2 > div a > [class*="ico-"] {
            font-size: 2.25rem
        }
}

.pages_menu {
    position: relative
}

@media (max-width: 991px) {
    .pages_menu {
        padding: 0px !important
    }

        .pages_menu nav {
            position: relative;
            height: 70%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 2.0625rem;
            text-align: center
        }

        .pages_menu ul li {
            display: block;
            height: calc(100% / 6);
            max-height: 50px;
            max-width: 80vw;
            margin: 0 auto;
            position: relative;
            opacity: 0
        }

            .pages_menu ul li a {
                display: block;
                position: relative;
                color: #fff !important;
                text-decoration: none;
                overflow: hidden
            }

                .pages_menu ul li a:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    height: 3px;
                    background: #FFF;
                    -webkit-transition: .35s;
                    transition: .35s
                }

                .pages_menu ul li a:hover:after, .pages_menu ul li a:focus:after, .pages_menu ul li a:active:after {
                    width: 100%
                }

        .pages_menu .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity .35s, visibility .35s, height .35s;
            transition: opacity .35s, visibility .35s, height .35s;
            overflow: hidden;
            background: rgba(48,48,54,0.94);
            background: -webkit-linear-gradient(220deg, rgba(52,70,17,0.95), rgba(37,44,45,0.92), #18181b);
            background: linear-gradient(230deg, rgba(52,70,17,0.95), rgba(37,44,45,0.92), #18181b);
            background-size: 600% 600%;
            -webkit-animation: overlay-scr 18s ease infinite;
            animation: overlay-scr 18s ease infinite
        }

            .pages_menu .overlay.open {
                z-index: 22;
                opacity: 1;
                visibility: visible;
                height: 100%
            }

                .pages_menu .overlay.open li {
                    -webkit-animation: fadeInRight .5s ease forwards;
                    animation: fadeInRight .5s ease forwards;
                    -webkit-animation-delay: .35s;
                    animation-delay: .35s
                }

                    .pages_menu .overlay.open li:nth-of-type(2) {
                        -webkit-animation-delay: .4s;
                        animation-delay: .4s
                    }

                    .pages_menu .overlay.open li:nth-of-type(3) {
                        -webkit-animation-delay: .45s;
                        animation-delay: .45s
                    }

                    .pages_menu .overlay.open li:nth-of-type(4) {
                        -webkit-animation-delay: .50s;
                        animation-delay: .50s
                    }

        .pages_menu #toggle {
            position: absolute;
            top: 0.625rem;
            left: 0.625rem;
            cursor: pointer;
            z-index: 100;
            -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease
        }

            .pages_menu #toggle.active {
                color: #fff;
                font-size: 2.0625rem
            }

                .pages_menu #toggle.active span {
                    display: none
                }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%
    }

    100% {
        opacity: 1;
        left: 0
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%
    }

    100% {
        opacity: 1;
        left: 0
    }
}

#fn-search {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.375rem;
    margin: 0.4375rem 0 0.3125rem;
    z-index: 2
}

    #fn-search button, #fn-search input[type="text"] {
        height: 2.375rem;
        border: 1px solid transparent;
        top: 0rem;
        left: 0rem
    }

    #fn-search button {
        width: 2.5rem;
        position: absolute;
        border-color: transparent;
        background: #9acd32;
        color: #fff;
        border-radius: 5px 0 0 5px
    }

    #fn-search input[type="text"] {
        width: 100%;
        border-color: #d9d9d9;
        padding: 0.25rem 0.4375rem 0.25rem 3.375rem;
        -webkit-transition: all .25s ease-in;
        transition: all .25s ease-in;
        border-radius: 5px
    }

.autocomplete-suggestions {
    display: block;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    border: 0.0625rem solid #e0e0e0;
    max-height: 50vh !important;
    font-size: 13px;
    box-shadow: 0px 1px 5px rgba(99,103,108,0.15)
}

@media (min-width: 544px) {
    .autocomplete-suggestions {
        width: auto !important
    }
}

.autocomplete-suggestions a {
    color: gray
}

.autocomplete-suggestions .image {
    margin: -3px 5px -3px 0;
    width: 32px;
    line-height: 24px;
    padding: 0;
    display: block;
    float: left;
    text-align: center;
    background: #fff
}

    .autocomplete-suggestions .image img {
        max-height: 24px !important;
        max-width: 24px !important;
        vertical-align: middle;
        opacity: .8
    }

.autocomplete-suggestions .autocomplete-suggestion {
    display: table-row
}

@media (min-width: 544px) {
    .autocomplete-suggestions .autocomplete-suggestion {
        white-space: nowrap
    }
}

.autocomplete-suggestions strong {
    font-weight: 700;
    color: #9acd32
}

.autocomplete-suggestions > div > div, .autocomplete-suggestions span {
    padding: 0.25rem 0.1875rem;
    display: table-cell;
    overflow: hidden;
    text-align: left
}

.autocomplete-suggestions span {
    padding-right: 0.625rem;
    color: #999
}

.autocomplete-suggestions .autocomplete-selected {
    background: #f0f0f0
}

    .autocomplete-suggestions .autocomplete-selected .image img {
        opacity: 1
    }

    .autocomplete-suggestions .autocomplete-selected span {
        color: #9acd32
    }

#slider_images {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 22.1875rem
}

    #slider_images .container, #slider_images .slick-list {
        padding: 0
    }

    #slider_images .slick-slide {
        position: relative;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        height: 22.1875rem;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: 50% 50% !important
    }

        #slider_images .slick-slide img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 100%;
            object-fit: cover
        }

    #slider_images .slick-arrow {
        top: 42%;
        width: 2.5rem;
        height: 3.4375rem;
        background: rgba(255,255,255,0.77);
        border: 2px solid #333
    }

        #slider_images .slick-arrow:before {
            position: absolute;
            top: 0.625rem;
            left: 0.3125rem;
            speak: none;
            content: "";
            display: block;
            width: 1.8125rem;
            height: 1.8125rem;
            color: #fff !important;
            background-size: contain !important
        }

    #slider_images .slick-prev {
        left: 0rem;
        border-left: none
    }

    #slider_images .slick-next {
        right: 0rem;
        border-right: none
    }

.toggle-click {
    cursor: pointer;
    position: relative
}

    .toggle-click > ul {
        z-index: 1;
        display: none;
        list-style: none;
        margin: 0;
        position: absolute;
        text-align: left;
        top: 100%;
        right: -0.0625rem;
        min-width: 8.75rem;
        padding: 0.3125rem !important;
        font-size: 0.875rem;
        border: 1px solid #f2f2f2;
        background: #fafafa
    }

        .toggle-click > ul > li {
            border: none !important
        }

            .toggle-click > ul > li > a {
                padding: 0.1875rem 0.625rem !important;
                color: #e0e0e0
            }

            .toggle-click > ul > li:hover > a {
                color: #949494
            }

    .toggle-click:hover > ul {
        display: block !important
    }

#info-bar {
    font-size: 1.25rem;
    color: #fff;
    background-color: #171717;
    border-top: 1px dotted rgba(255,255,255,0.3)
}

    #info-bar [class*="col-"] {
        border-right: 1px dotted #4d4d4d
    }

        #info-bar [class*="col-"]:last-child {
            border: 0
        }

    #info-bar .name {
        font-size: 1.0625rem
    }

.images, .image {
    position: relative;
    text-align: center;
    display: block;
    margin: 0
}

    .images img, .image img {
        vertical-align: middle;
        line-height: 0.875rem;
        font-size: 0.8125rem
    }

    .images [class*="ico-"]:before, .image [class*="ico-"]:before {
        vertical-align: middle;
        font-size: 2em;
        color: #ccc
    }

    .images span, .image span {
        vertical-align: middle;
        line-height: 1 !important;
        font-size: 0.9375rem;
        display: inline-block
    }

.variants {
    -moz-user-select: none;
    -webkit-user-select: none
}

    .variants .amount {
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 3px
    }

        .variants .amount > span, .variants .amount > input[type="text"] {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            height: 2.5rem;
            line-height: 2.5rem;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            color: #4d4d4d
        }

        .variants .amount > span {
            width: 1.1em;
            font-size: 1.6em;
            background: #f7f7f7;
            background-image: -webkit-linear-gradient(top, #f7f7f7 60%, #f2f2f2 100%);
            background-image: linear-gradient(to bottom, #f7f7f7 60%, #f2f2f2 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7F7F7', endColorstr='#FFF2F2F2', GradientType=0)
        }

            .variants .amount > span:hover {
                color: #9acd32
            }

        .variants .amount > input[type="text"] {
            margin: 0 -0.25rem;
            width: 2.7em;
            font-weight: normal;
            border: none;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6
        }

.price {
    white-space: nowrap;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    font-weight: bold;
    letter-spacing: -.04em;
    color: #78a027
}

    .price .old_price {
        display: inline-block;
        font-size: .8em;
        font-weight: bold;
        text-decoration: line-through;
        color: #7a7a7a
    }

    .price i {
        font-style: normal
    }

.gridBlock {
    margin: 0.9375rem -0.3125rem
}

    .gridBlock > div {
        padding: 0 0.3125rem
    }

.MainView .gridBlock > [class^="col-"] {
    padding: 0 0.3125rem
}

@media (min-width: 1340px) {
    .MainView .gridBlock > [class^="col-"] {
        width: 20% !important
    }
}

.card {
    width: 100%;
    min-width: 14.375rem;
    max-width: 15.625rem;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 0rem
}

    .card .variants {
        height: 3.4375rem
    }

        .card .variants .price {
            line-height: 2.1875rem
        }

    .card .input-group {
        height: 3.4375rem
    }

    .card .ico-btn_2cart {
        text-align: center;
        padding: 0.3125rem;
        width: 3.4375rem;
        height: 3.4375rem;
        font-size: 1.25rem;
        border: 0.1875rem solid #ebebeb;
        border-radius: 50%;
        background: #fff;
        color: #b3b3b3
    }

@media (max-width: 991px) {
    .card {
        margin-bottom: 2.1875rem;
        height: 21.875rem
    }
}

@media (min-width: 992px) {
    .card {
        height: 24.375rem !important
    }

        .card * {
            -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out
        }

        .card:hover, .card:focus {
            overflow: visible;
            z-index: 1
        }

            .card:hover .card-block, .card:focus .card-block {
                border-color: #fff;
                box-shadow: 0 2px 6px rgba(0,0,0,0.12)
            }

            .card:hover .card-image img, .card:focus .card-image img {
                -webkit-transform: rotate(-2deg) scale(1.035);
                -ms-transform: rotate(-2deg) scale(1.035);
                transform: rotate(-2deg) scale(1.035)
            }

            .card:hover .ico-btn_2cart, .card:focus .ico-btn_2cart {
                color: #fff;
                background: #9acd32;
                border-color: #fff
            }

            .card:hover .card-title a, .card:focus .card-title a {
                text-decoration: underline
            }

                .card:hover .card-title a:hover, .card:focus .card-title a:hover {
                    color: #94c530
                }
}

.card-block {
    width: 100%;
    padding: 0.4375rem;
    background: #fff;
    border: 1px solid #e8e8e8
}

    .card-block:hover .card-image:after, .card-block:focus .card-image:after {
        opacity: 0;
        background: transparent
    }

@media (min-width: 992px) {
    .card-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0
    }
}

.card-image {
    line-height: 12.5rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    height: 214px;
}

    .card-image img {
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out
    }

    .card-image:after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background: rgba(0,0,0,0.056);
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out
    }

.card-title {
    overflow: hidden;
    margin: 0.9375rem 0.5625rem;
    font-size: 1.0625rem;
    line-height: 2.375rem;
    height: 63px;
}

    .card-title a {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.125rem
    }

@media (min-width: 992px) {
    .card-title {
        font-size: 0.9375rem;
        line-height: 2.125rem
    }

        .card-title a {
            line-height: 1rem
        }
}

.ProductView.product .div_img > .image {
    background: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 0.3125rem
}

@media (max-width: 1339px) {
    .ProductView.product .div_img > .image {
        line-height: 26.25rem
    }
}

@media (min-width: 1340px) {
    .ProductView.product .div_img > .image {
        line-height: 32.5rem
    }
}

.ProductView.product .slick-images .slick-slide {
    margin: 0.3125rem;
    line-height: 5rem;
    height: 5.625rem;
    background: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 0.3125rem
}

    .ProductView.product .slick-images .slick-slide img {
        line-height: 0.875rem;
        font-size: 0.8125rem
    }

.ProductView.product .slick-images .slick-current {
    border-color: #9acd32
}

.ProductView.product .slick-images .slick-arrow {
    top: -2.0625rem;
    left: 0.375rem
}

    .ProductView.product .slick-images .slick-arrow.slick-next {
        left: 2.375rem
    }

.ProductView.product .div_ctr select {
    width: 100%;
    max-width: 21.875rem
}

.ProductView.product .div_ctr .btn {
    padding: 0.6875rem 2.0625rem;
    font-size: 1.1em
}

.ProductView.product .price {
    font-size: 2.25rem
}

    .ProductView.product .price .old_price {
        margin-left: 0.8125rem;
        font-size: .7em;
        font-weight: normal
    }

.ProductView.product .div_info .image {
    line-height: 1.125rem;
    margin: -0.125rem 0.4375rem 0.125rem 0;
    width: 1.375rem
}

.filter {
    margin: 0.3125rem 0 0.9375rem !important;
    padding: 0.5rem;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    color: #999;
    background: #fafafa
}

    .filter .title {
        margin: 0 0 0.3125rem;
        font-size: 0.875rem;
        font-weight: normal
    }

    .filter > div {
        text-align: left;
        padding: 0 0.3125rem
    }

    .filter select {
        padding: 0.1875rem 0.3125rem;
        font-size: 0.875rem;
        line-height: 1.8;
        width: 100%;
        color: #4d4d4d;
        border: 3px solid #ededed
    }

        .filter select option:checked {
            color: #ccc
        }

    .filter .selected .title {
        color: #1a1a1a
    }

    .filter .selected select {
        border-color: #ababab !important
    }

.sort, .pagination {
    font-size: 0.875rem
}

@media (max-width: 1339px) {
    .sort, .pagination {
        margin-bottom: 0.625rem !important
    }
}

.sort li, .pagination li {
    text-align: center
}

    .sort li > a, .pagination li > a {
        border: 0;
        display: block;
        padding: 0 .5em;
        min-width: 2rem;
        font-size: 1em;
        line-height: 2.2em;
        background-color: #f7f7f7;
        color: #787878;
        text-decoration: none
    }

    .sort li + li, .pagination li + li {
        margin-left: -0.06875rem;
        border-left: 1px dotted rgba(255,255,255,0.3)
    }

    .sort .active, .sort li:hover > a, .sort li:focus > a, .pagination .active, .pagination li:hover > a, .pagination li:focus > a {
        background-color: #9acd32;
        color: #fff
    }

    .sort li > a {
        padding: 0 0.8125rem
    }

.list-inline-dotted {
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 0.9375rem
}

    .list-inline-dotted > li {
        text-align: left;
        display: table;
        margin: 0
    }

        .list-inline-dotted > li > span {
            display: table-cell;
            position: relative;
            vertical-align: top;
            width: 50%;
            padding: 1.125rem 0.625rem;
            margin-bottom: -0.125rem
        }

            .list-inline-dotted > li > span:first-child i {
                z-index: 1;
                padding-right: 0.625rem;
                padding-bottom: 0.1875rem;
                font-style: normal;
                background: #fff
            }

            .list-inline-dotted > li > span:first-child:after {
                content: '';
                display: block;
                border-bottom: 1px dotted #b3b3b3
            }

@media (max-width: 991px) {
    .list-inline-dotted > li > span {
        display: block;
        width: 100%
    }

        .list-inline-dotted > li > span:first-child {
            padding-bottom: 0;
            font-weight: bold
        }

    .list-inline-dotted > li:nth-child(even) {
        background: #f7f7f7
    }

        .list-inline-dotted > li:nth-child(even) > span:first-child i {
            background: #f7f7f7
        }
}

.slick-products .slick-list {
    overflow: hidden;
    padding: 0.625rem 0
}

.post-list {
    text-align: left;
    margin: 0.9375rem 0.3125rem
}

    .post-list .post-block {
        padding: 0.3125rem 0rem 0.625rem;
        line-height: 1.1
    }

        .post-list .post-block:after {
            content: "";
            display: table
        }

    .post-list .data {
        text-align: left;
        letter-spacing: -.01rem;
        margin: 0 0 0.3125rem 0rem;
        font-size: 0.75rem
    }

    .post-list .name {
        font-size: 0.9375rem;
        color: #374a12;
        text-decoration: underline
    }

        .post-list .name:hover {
            color: #94c530;
            text-decoration: underline
        }

    .post-list .annotation {
        text-align: left
    }

@media (min-width: 992px) {
    .MainView .post-list {
        border-left: 1px dotted #ccc;
        padding-left: 20px
    }

        .MainView .post-list .post-block + .post-block {
            padding-top: 0.9375rem;
            border-top: 1px dotted #d4d4d4
        }
}

.brands-list .image {
    line-height: 3.75rem;
    opacity: .88
}

    .brands-list .image img {
        max-height: 3.75rem
    }

.brands-list .slick-slide {
    padding: 0 10px
}

.brands-list .slick-arrow {
    top: -3.875rem
}

.brands-list .slick-current .image, .brands-list .slick-slide:focus .image, .brands-list .slick-slide:hover .image {
    opacity: 1
}

.browsed_products {
    font-size: 0.90625rem;
    line-height: 1.2
}

    .browsed_products a {
        text-decoration: none !important;
        color: gray
    }

    .browsed_products .slick-browsed {
        margin: 0 -0.625rem
    }

    .browsed_products .product {
        display: table;
        margin: 0 0.625rem;
        padding: 0.625rem;
        background: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 0.25rem
    }

        .browsed_products .product > div {
            vertical-align: middle
        }

        .browsed_products .product .image {
            display: table-cell;
            line-height: 5.625rem;
            width: 5.625rem
        }

        .browsed_products .product .name {
            display: table-cell;
            padding-left: 0.625rem
        }

        .browsed_products .product .price {
            color: inherit;
            font-size: 1.20em;
            line-height: inherit
        }

        .browsed_products .product:hover {
            border-color: transparent
        }

    .browsed_products.vert {
        margin: 0 -2px
    }

        .browsed_products.vert .image {
            display: inline-block;
            margin: 2px 1px;
            line-height: 4.75rem;
            width: 31%;
            border: 2px solid #f7f7f7;
            border-radius: 4px
        }

            .browsed_products.vert .image img {
                max-height: 3.125rem;
                max-width: 3.125rem
            }

@media (min-width: 992px) {
    .browsed_products.vert .image img {
        -webkit-filter: grayscale(94%);
        filter: grayscale(94%);
        opacity: .57 !important;
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out
    }

    .browsed_products.vert .image:after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background: rgba(74,96,105,0.01);
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out
    }

    .browsed_products.vert .image:hover {
        border-color: transparent
    }

        .browsed_products.vert .image:hover img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1 !important
        }

        .browsed_products.vert .image:hover:after {
            background: none
        }
}

#subcat {
    padding: 0 0 20px 0
}

    #subcat .categ {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin: 3px 1px;
        padding: 7px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        box-shadow: 0px 3px 3px fade(#000, 5);
        background: #fff;
        width: 45.45455%;
        width: 46.51163%
    }

        #subcat .categ .image {
            line-height: 100px;
            height: 100px
        }

@media (min-width: 544px) {
    #subcat .categ {
        width: 24.09639%
    }
}

@media (min-width: 992px) {
    #subcat .categ {
        width: 24.09639%
    }
}

@media (min-width: 1340px) {
    #subcat .categ {
        width: 16%
    }
}

#subcat .categ:hover {
    border-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px fade(#000, 8)
}

    #subcat .categ:hover .title {
        text-decoration: underline
    }

    #subcat .categ:hover a {
        color: #94c530
    }

#subcat a {
    font-size: 13px;
    margin: 5px 0;
    color: #333;
    text-decoration: underline
}

    #subcat a span {
        font-size: 12px;
        font-weight: normal;
        margin: 0 2px
    }

.comm-block {
    text-align: left;
    font-size: 0.90625rem;
    position: relative;
    padding: 1.25rem 0.3125rem;
    color: #666;
    border-bottom: 1px dotted #d9d9d9
}

    .comm-block:last-child {
        border-bottom: none
    }

    .comm-block .image {
        position: absolute;
        left: 0rem;
        line-height: 3.125rem;
        width: 3.125rem
    }

        .comm-block .image:before {
            font-size: 2.55em;
            color: #b3b3b3
        }

    .comm-block .name {
        margin: 0 0 0.3125rem;
        font-size: 1.1em;
        font-weight: bold;
        color: #000
    }

        .comm-block .name i {
            font-size: .75em;
            font-weight: normal;
            font-style: normal;
            color: #b3b3b3
        }

    .comm-block .lev1 {
        margin-top: 1.875rem;
        padding: 0.125rem 0.9375rem;
        border-left: 1px dotted #ccc;
        border-bottom: none;
        color: #000
    }

        .comm-block .lev1 .image {
            display: none
        }

.product-labels {
    line-height: 1.01;
    position: absolute;
    top: 0.6875rem;
    right: -0.0625rem;
    font-size: 0.625rem;
    text-transform: uppercase
}

    .product-labels .label {
        position: relative;
        border: 1px solid rgba(255,255,255,0.3);
        font-weight: bold;
        line-height: 1.125rem;
        margin: 0 0 0.0625rem;
        padding: 0 0.3125rem 0 0.625rem;
        color: #fafafa;
        border-radius: .2em
    }

        .product-labels .label:before {
            position: absolute;
            top: -0.0625rem;
            left: -0.9375rem;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            font-size: 0.75rem;
            border-radius: 50%;
            color: #fafafa;
            text-shadow: 0 1px 1px rgba(166,166,166,0.65)
        }

    .product-labels .hits, .product-labels .hits:before {
        background: rgba(70,75,76,0.86)
    }

    .product-labels .sale, .product-labels .sale:before {
        background: rgba(236,93,1,0.86)
    }

#purchases .row {
    padding: 0.625rem 0;
    border-bottom: 1px dotted #ccc
}

    #purchases .row > [class*="col-"] {
        padding: 0.3125rem 0.625rem
    }

        #purchases .row > [class*="col-"] > * {
            line-height: 1.1
        }

@media (min-width: 992px) {
    #purchases .row.items > [class*="col-"] {
        line-height: 5rem
    }
}

#purchases .image {
    line-height: 5.625rem;
    padding: 0.3125rem;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 0.1875rem
}

#purchases .title {
    font-size: 1.125rem;
    font-weight: bold
}

#purchases .price {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: inherit
}

    #purchases .price:last-child {
        font-weight: bold
    }

#purchases select {
    width: 5.5rem;
    max-width: 100%
}

#purchases .ico-delete {
    position: absolute;
    right: 0;
    font-size: 1.75rem;
    opacity: .5;
    text-decoration: none
}

@media (max-width: 991px) {
    #purchases .ico-delete {
        top: -1.5625rem
    }
}

#purchases .row:hover .ico-delete {
    color: #c00;
    opacity: 1
}

#purchases .h4 {
    margin: 0;
    font-size: 1.125rem
}

.coupon {
    padding: 0.9375rem 0
}

    .coupon input[type="text"], .coupon input[type="button"] {
        line-height: 2.25rem;
        height: 2.25rem;
        font-size: 1rem;
        border-radius: 0
    }

    .coupon input[type="text"] {
        padding: 0 0.625rem;
        max-width: 15.625rem
    }

    .coupon input[type="button"] {
        padding: 0 1.875rem
    }

#deliveries .h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5625rem !important
}

#deliveries .h3 {
    display: block;
    font-size: 1rem;
    text-transform: none;
    margin-top: 0.9375rem !important;
    margin-bottom: 0.3125rem !important
}

    #deliveries .h3 > span {
        color: #4d4d4d
    }

#deliveries .description {
    margin: 0.9375rem 0rem 1.25rem 2.1875rem;
    line-height: 1.15;
    font-size: 0.84375rem;
    color: gray
}

    #deliveries .description p {
        margin: 3px 0px
    }

#deliveries i {
    font-weight: normal;
    font-style: normal;
    opacity: .7;
    font-size: .89em
}

#deliveries .custom-control-indicator {
    top: -0.125rem
}

#deliveries .form-group {
    padding: 0px 5px
}

.rtfm input[type="submit"], .rtfm button {
    margin: 8px 0 0;
    clear: both;
    outline: none !important;
    letter-spacing: 0.031em;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    line-height: 2.0625rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5rem 2.5rem;
    font-size: 1.125rem;
    border-radius: 3px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.16);
    box-shadow: inset 0 2px 5px rgba(255,255,255,0.2),0 15px 0 rgba(255,255,255,0.11) inset;
    color: #fff;
    background-color: #41A932;
    border: 1px solid #39952c
}

.rtfm label {
    display: block;
    clear: both;
    margin: 8px 0 0
}

.readmore_js {
    position: relative
}

    .readmore_js + [data-readmore-toggle], .readmore_js [data-readmore] {
        display: inline-block;
        text-decoration: none;
        margin: 0rem 0rem 1.5625rem;
        padding: 0.3125rem 1.5625rem;
        border-radius: 0.1875rem;
        font-size: 0.79375rem;
        color: #666;
        border: 2px solid #737373
    }

        .readmore_js + [data-readmore-toggle]:hover, .readmore_js [data-readmore]:hover {
            color: #1a1a1a;
            border-color: #4d4d4d;
            text-decoration: none
        }

    .readmore_js[aria-expanded="false"]:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3.4375rem;
        background-image: -webkit-linear-gradient(top, transparent 0, #fff 70%);
        background-image: linear-gradient(to bottom, transparent 0, #fff 70%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FFFFFFFF', GradientType=0)
    }

.ya-share2 {
    margin-top: 0.4375rem
}

    .ya-share2 .ya-share2__icon {
        width: 20px !important;
        height: 20px !important;
        background-size: 20px !important
    }

    .ya-share2 .ya-share2__item {
        margin-bottom: 3px !important;
        opacity: .5;
        -webkit-filter: contrast(1.5);
        filter: contrast(1.5);
        -webkit-filter: brightness(2);
        filter: brightness(2);
        -webkit-filter: grayscale(30%);
        filter: grayscale(30%)
    }

        .ya-share2 .ya-share2__item:hover {
            opacity: 1 !important;
            -webkit-filter: contrast(1);
            filter: contrast(1);
            -webkit-filter: brightness(1);
            filter: brightness(1)
        }

#footer {
    background: #21201f;
    margin: 0;
    font-size: 0.84375rem;
    color: #8a8a8a
}

    #footer p {
        margin: 0 0 3px
    }

    #footer a {
        color: #8a8a8a
    }

        #footer a:hover {
            color: #f0f0f0
        }

    #footer .h2, #footer .h4 {
        margin: 0 0 0.9375rem;
        color: #e6e6e6;
        text-shadow: 0 1px 3px rgba(4,4,4,0.65)
    }

    #footer .h2 {
        font-size: 16px
    }

    #footer .h4 {
        font-size: 14px
    }

    #footer .ya-share2 {
        margin-top: 0.4375rem
    }

        #footer .ya-share2 .ya-share2__icon {
            width: 28px !important;
            height: 28px !important;
            background-size: 28px !important
        }

        #footer .ya-share2 .ya-share2__item {
            margin-bottom: 3px !important;
            opacity: .9;
            -webkit-filter: contrast(1.5);
            filter: contrast(1.5);
            -webkit-filter: brightness(2);
            filter: brightness(2);
            -webkit-filter: grayscale(30%);
            filter: grayscale(30%)
        }

            #footer .ya-share2 .ya-share2__item:hover {
                opacity: 1 !important;
                -webkit-filter: contrast(1);
                filter: contrast(1);
                -webkit-filter: brightness(1);
                filter: brightness(1)
            }

.foo-main {
    padding: 10px 0
}

    .foo-main [class^="col-"] {
        text-align: left;
        padding: 10px 15px
    }

@media (max-width: 991px) {
    .foo-main [class^="col-"] {
        padding-bottom: 25px
    }
}

.foo-main hr {
    width: 97%;
    border: 0;
    margin: 15px 0;
    border-bottom: rgba(255,255,255,0.1) 1px solid;
    border-top: rgba(0,0,0,0.4) 1px solid
}

.foo-main .text-plus-icon {
    margin: 0.625rem 0 2.1875rem;
    font-size: 22px
}

    .foo-main .text-plus-icon .name {
        color: #fff !important
    }

.foo-copy {
    background: #1e1d1d;
    color: #353433;
    font-size: 0.65625rem;
    border-top: 1px dotted #302f2e
}

    .foo-copy [class^="col-"] {
        padding: 20px 15px
    }

    .foo-copy .des_by {
        float: right;
        color: #4a4947
    }

article {
    text-align: left
}

    article ul {
        padding: 1rem 2.1rem 2rem
    }

        article ul li {
            font-size: 95%;
            line-height: 1.2;
            margin-bottom: 0.16667rem
        }

.input_captcha, .captcha {
    display: inline-block !important;
    width: 110px !important;
    text-align: center !important;
    line-height: 30px !important;
    text-shadow: none !important
}

    .input_captcha:focus {
        font-weight: 700
    }

    .captcha img {
        border: 1px solid #e6e6e6
    }
