@using Benefit.Common.Constants
@model Benefit.DataTransfer.ViewModels.BreadCrumbsViewModel
<ol class="container">
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="/">Главная</a>
    </li>
    @if (Model.Categories != null)
    {
        foreach (var breadCrumb in Model.Categories)
        {
            if (Model.Categories.Last().Key.Id == breadCrumb.Key.Id && Model.Product == null)
            {
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    @breadCrumb.Key.Name
                </li>
            }
            else
            {
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="@Url.RouteUrl(RouteConstants.CatalogRouteName, new {categoryUrl = breadCrumb.Key.UrlName})">@breadCrumb.Key.Name</a>
                </li>
            }
        }
    }

    @if (Model.Product != null)
    {
        <li>
            @Model.Product.Name
        </li>

    }
</ol>
