@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models

@{
    ViewBag.Title = "Відгуки";
    Layout = "_SellerLayout.cshtml";
    var seller = ViewBag.Seller as Seller;
}
<div class="container" style="margin-top: 10px;">
    <h2>Відгуки</h2>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_ReviewsPartial", new ReviewsViewModel
            {
                CanReview = false,
                SellerId = seller.Id,
                TargetName = seller.Name,
                Reviews = seller.ApprovedReviews
            })
        </div>
        <div class="col-md-6">
            @Html.Partial("_ReviewFormPartial", new ReviewsViewModel()
            {
                CanReview = true,
                SellerId = seller.Id,
                TargetName = seller.Name,
            })
        </div>
    </div>

</div>
<script src="~/Scripts/site.js"></script>