@model Benefit.Domain.Models.BenefitCard
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("CreateOrUpdate", "BenefitFamily"))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Учасник Benefit Family</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control required" placeholder="Ім’я та Прізвище" name="holderName" value="@Model.HolderName"/>
                            <i class="form-control-feedback glyphicon glyphicon-user"></i>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control required width-70 pull-left" placeholder="Номер картки або брелка" name="cardNumber" id="cardNumber" value="@Model.Id" />
                            <span class="width-30 margin-left-10" style="line-height: 2.5em;">
                                <input type="checkbox" id="IsTrinket"/>
                                <label for="IsTrinket">Брелок</label>
                            </span>
                            <i class="form-control-feedback glyphicon glyphicon-credit-card"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Зберегти</button>
            </div>
        }
    </div>
</div>


