#addresses input {
    color: rgb(57,57,57);
    border: 0;
    outline: none; /* prevents textbox highlight in chrome */
}

    #addresses input:focus {
        border-bottom: solid 1px;
    }

#UL_1 {
    height: 267px;
    width: 930px;
    perspective-origin: 465px 133.5px;
    transform-origin: 465px 133.5px;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}
/*#UL_1*/

#LI_2 {
    height: 267px;
    width: 930px;
    perspective-origin: 465px 133.5px;
    transform-origin: 465px 133.5px;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 15px 0px 0px;
}
    /*#LI_2*/

    #LI_2:after {
        box-sizing: border-box;
        clear: both;
        content: '"' '"';
        display: block;
        height: 0px;
        visibility: hidden;
        width: 930px;
        perspective-origin: 465px 0px;
        transform-origin: 465px 0px;
        font: normal normal normal normal 0px / 0px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
        list-style: none outside none;
    }
/*#LI_2:after*/

#DIV_3, #DIV_15 {
    float: left;
    height: 280px;
    text-align: left;
    width: 350px;
    perspective-origin: 148.797px 133.5px;
    transform-origin: 148.797px 133.5px;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 17.6563px 0px 0px;
    overflow: hidden;
}
/*#DIV_3, #DIV_15*/

#DIV_4, #DIV_16 {
    bottom: 0px;
    box-sizing: border-box;
    height: 280px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 350px;
    perspective-origin: 148.797px 133.5px;
    transform-origin: 148.797px 133.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(221, 221, 221);
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    overflow: hidden;
    padding: 25px 10px 20px 20px;
}
/*#DIV_4, #DIV_16*/

#DIV_5 input, #DIV_17 {
    background-position: -270px 2px;
    height: 18px;
    text-align: left;
    width: 238.594px;
    perspective-origin: 131.797px 9px;
    transform-origin: 131.797px 9px;
    background: rgba(0, 0, 0, 0) url("http://i.alicdn.com/ae-address-ui/node_modules/@alife/omega-address/src/img/shipping-address-icons.81b39aff.png") no-repeat scroll -270px 2px / auto padding-box border-box;
    font: normal normal bold normal 14px / 18.2px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 20px;
    padding: 0px 0px 0px 25px;
}
/*#DIV_5, #DIV_17*/

#UL_6 {
    background-position: -245px -22px;
    text-align: left;
    width: 238.594px;
    perspective-origin: 131.797px 28.5px;
    transform-origin: 131.797px 28.5px;
    background: rgba(0, 0, 0, 0) url("http://i.alicdn.com/ae-address-ui/node_modules/@alife/omega-address/src/img/shipping-address-icons.81b39aff.png") no-repeat scroll -245px -22px / auto padding-box border-box;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 20px;
    padding: 0px 0px 0px 25px;
}
/*#UL_6, #UL_18*/

#LI_7 input, #LI_8 input {
    height: 23px;
    width: 238.594px;
    perspective-origin: 119.297px 9.5px;
    transform-origin: 119.297px 9.5px;
    font: normal normal normal normal 12px / 19.2px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
}
/*#LI_7, #LI_8, #LI_19, #LI_21*/

#LI_9, #LI_20 {
    height: 19px;
    width: 238.594px;
    perspective-origin: 119.297px 9.5px;
    transform-origin: 119.297px 9.5px;
    font: normal normal normal normal 12px / 19.2px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
}
/*#LI_9, #LI_20*/

#DIV_10, #DIV_22 {
    background-position: -197px -72px;
    height: 15px;
    text-align: left;
    width: 238.594px;
    perspective-origin: 131.797px 7.5px;
    transform-origin: 131.797px 7.5px;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 5px;
}
/*#DIV_10, #DIV_22*/

#DIV_11 input, #DIV_23 {
    background-position: -220px -48px;
    height: 15px;
    text-align: left;
    width: 238.594px;
    perspective-origin: 131.797px 7.5px;
    transform-origin: 131.797px 7.5px;
    background: rgba(0, 0, 0, 0) url("http://i.alicdn.com/ae-address-ui/node_modules/@alife/omega-address/src/img/shipping-address-icons.81b39aff.png") no-repeat scroll -220px -48px / auto padding-box border-box;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 20px;
    padding: 0px 0px 0px 25px;
    margin-left: -2px !important;
}

.belong-address input[type=email] {
    font-size: 1em;
    width: 80%;
}
/*#DIV_11, #DIV_23*/

#P_12, #P_24 {
    height: 15px;
    text-align: left;
    width: 263.594px;
    perspective-origin: 131.797px 7.5px;
    transform-origin: 131.797px 7.5px;
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 18px;
}
/*#P_12, #P_24*/

#A_13, #A_25 {
    color: rgb(0, 102, 204);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(0, 102, 204);
    border: 0px none rgb(0, 102, 204);
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
    outline: rgb(0, 102, 204) none 0px;
}
/*#A_13, #A_25*/

#A_14, #A_26 {
    color: rgb(0, 102, 204);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(0, 102, 204);
    border: 0px none rgb(0, 102, 204);
    font: normal normal normal normal 12px / 15.6px "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(0, 102, 204) none 0px;
}
/*#A_14, #A_26*/

