.progressBarLoad {
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.searchError {
    display: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.underlined {
    text-decoration: underline;
}
.sellerLogo {
    max-height: 93px;
    max-width: 170px;
}

.position-bottom {
    bottom: 0;
}

.hidden {
    visibility: hidden;
}

.cursor-move {
    cursor: move;
}

.icon-country {
    background-repeat: no-repeat !important;
}

    .icon-country:before {
        content: " ";
    }

.icon-uk {
    background-image: url(img/flags/uk.png);
}

.icon-ru {
    background-image: url(img/flags/ru.png);
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding_5 {
    padding: 5px;
}

.bordered {
    border: 1px solid #d6d6d6;
}

.border-right {
    border-right: 1px solid #d6d6d6;
}

.border-bottom {
    border-bottom: 1px solid #d6d6d6;
}

.border-top {
    border-top: 1px solid #d6d6d6;
}

.width-50 {
    width: 50% !important;
}
.width-40 {
    width: 40% !important;
}
.width-20 {
    width: 20% !important;
}
.width-10 {
    width: 10% !important;
}

.width-5 {
    width: 5% !important;
}

.width-3 {
    width: 3% !important;
}

.bold {
    font-weight: bold;
}