<ul class="nav navbar-nav">
    <li>
        <span class="bold">Категорії</span>
    </li>
    <li>
        <a href="#">Benefit to Business</a>
    </li>
    <li>
        <a href="#">Акційні пропозиції</a>
    </li>
    <li>
        <a href="#">Супермаркети</a>
    </li>
    <li>
        <a href="#">Заклади харчування</a>
        <ul>
            <li><a href="#">Ресторани</a></li>
            <li><a href="#">Піцерії</a></li>
            <li><a href="#">Fast food</a></li>
            <li><a href="#">Кав’ярні</a></li>
            <li><a href="#">Винарні</a></li>
            <li><a href="#">Паби</a></li>
            <li><a href="#">Домашня кухня</a></li>
            <li><a href="#">Кондитерські</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Одяг та взуття</a>
    </li>
    <li>
        <a href="#">Спорт та відпочинок</a>
    </li>
    <li>
        <a href="#">Страхування</a>
    </li>
    <li>
        <a href="#">Меблі</a>
    </li>
    <li>
        <a href="#">Техніка</a>
    </li>
    <li>
        <a href="#">Краса та здоров’я</a>
    </li>
    <li>
        <a href="#">Готелі</a>
    </li>
    <li>
        <a href="#">Зоотовари</a>
    </li>
    <li>
        <a href="#">Зв'язок</a>
    </li>
    <li>
        <a href="#">АЗС</a>
    </li>
    <li>
        <a href="#">Все для авто</a>
    </li>
    <li>
        <a href="#">Товари для дому</a>
    </li>
    <li>
        <a href="#">Послуги</a>
    </li>
    <li>
        <a href="#">Подарунки</a>
    </li>
    <li>
        <a href="#">Для дітей</a>
    </li>
    <li>
        <a href="#">Тренінгові центри</a>
    </li>
    <li>
        <a href="#">Всі заклади</a>
    </li>
</ul>
