@model IEnumerable<Benefit.Domain.Models.Category>
<ul class="nav navbar-nav">
    <li>
        <span class="bold">Категорії</span>
    </li>
    @foreach (var category in Model)
    {
        <li>
            <a href="#" title="@category.Description">@category.Name</a>
            @if (category.ChildCategories.Any())
            {
                <ul>
                    @foreach (var subCategory in category.ChildCategories)
                    {
                        <li>
                            <a href="#" title="@subCategory.Description">@subCategory.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
