<button class="sh_btn show_on_tablet pull-left toggleleftmenu">
    <i class="icn lmenu"></i>
</button>
<button class="sh_btn show_on_tablet pull-left toggleposition">
    <i class="icn location"></i>
</button>
<button class="sh_btn show_on_tablet pull-left togglesearch">
    <i class="icn search"></i>
</button>
<button class="sh_btn show_on_tablet togglerightmenu">
    <i class="icn rmenu"></i>
</button>
<button class="sh_btn">
@*    <span>11</span>*@
    <i class="icn cart"></i>
</button>
<button class="sh_btn">
@*    <span>2</span>*@
    <i class="icn mail"></i>
</button>
<button class="sh_btn hide_on_tablet">
@*    <span>12</span>*@
    <i class="icn ves"></i>
</button>

