<button class="sh_btn show_on_tablet pull-left toggleleftmenu">
    <i class="icn lmenu"></i>
</button>

<button class="sh_btn show_on_tablet pull-left togglesearch">
    <i class="icn search"></i>
</button>
<button class="sh_btn show_on_tablet togglerightmenu" data-toggle="modal" data-target="#menu_categories_modal">
    <i class="icn rmenu"></i>
</button>
<div class="sh_btn cart-summary" style="display: none;">
    <div id="cart-items-number"></div>
    <div id="cart-items-price" class="text-success">500 грн</div>
</div>
<button class="sh_btn" id="order-cart">
@*    <span id="cart-items-number" style="display: none;"></span>*@
    <i class="icn cart"></i>
</button>

@*<button class="sh_btn">
    <span>2</span>
    <i class="icn mail"></i>
</button>
<button class="sh_btn hide_on_tablet">
    <span>12</span>
    <i class="icn ves"></i>
</button>*@