<footer id="footer">
    <div class="footer_inner no_fill footer-light ext_view">
        <div class="bottom_wrapper">
            <div class="wrapper_inner">
                <div class="row bottom-middle">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <!--Про нас -->
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#">Про нас</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#">Про компанію Benefit Company</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#">Новини компанії</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#">Відгуки про компанію</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#">Угода користувача</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#">Контактна інформація</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Про нас -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <!-- Покупцям -->
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#/info/">Покупцям</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/">Каталог товарів та послуг</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/payment/">Каталог постачальників</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/">Відгуки покупців</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/delivery/">Правила Benefit Card</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/warranty/">Партнерська програма</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/more/">Питання та відповіді</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Покупцям -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <!-- Постачальникам -->
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#/help/">Постачальникам</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/blog/">Співпраця з компанією</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/faq/">Тарифи та можливості</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/brands/">Реєстрація постачальника</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/landings/">Партнерська програма</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/landings/">Система Benefit Card</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Постачальникам -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="subscribe_wrap">
                                    <div class="subscribe-form s_hgkNft">
                                        <div class="wrap_bg">
                                            <div class="top_blocks">
                                                <div class="text">
                                                    <div class="title">Інфо про акції та знижки!</div>
                                                </div>
                                            </div>
                                            <form action="#" class="sform box-sizing" novalidate="novalidate">
                                                <div class="email_wrap">
                                                    <input title="Ваш e-mail" class="email_input" name="sf_EMAIL" maxlength="100" required="" size="20" placeholder="Ваш e-mail" aria-required="true" type="email">
                                                    <input name="OK" class="btn btn-default send_btn" value="Подписаться" type="submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="social-block rounded_block">
                                    <div class="social-icons">
                                        <div class="small_title">Залишайтесь на зв'язку!</div>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#/2" target="_blank" rel="nofollow" title="Facebook">
                                                    Facebook
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#/3" target="_blank" rel="nofollow" title="Twitter">
                                                    Twitter
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#/4" target="_blank" rel="nofollow" title="Instagram">
                                                    Instagram
                                                </a>
                                            </li>
                                            <li class="ytb">
                                                <a href="#/5" target="_blank" rel="nofollow" title="YouTube">
                                                    YouTube
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-4 col-sm-offset-2">
                                <div class="info contacts_block_footer">
                                    <span class="white_middle_text">Наші Контакти</span>
                                    <div class="phone blocks">
                                        <div class="phone with_dropdown">
                                            <i class="svg svg-phone"></i>
                                            <a rel="nofollow" href="tel:+38 (050) 035-45-55">+38 (050) 035-45-55</a>
                                            <div class="dropdown">
                                                <div class="wrap">
                                                    <div class="more_phone"><a href="tel:+38 (050) 035-45-55">+38 (063) 035-45-55</a></div>
                                                    <div class="more_phone"><a href="tel:+38 (050) 035-45-55">+38 (097) 035-45-55</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address blocks">а/с №8, пл.Кирила Мефодія, 4, м.Ужгород, 88005</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-under">
                    <div class="row">
                        <div class="col-md-12 outer-wrapper">
                            <div class="inner-wrapper row">
                                <div class="copy-block">
                                    <div class="copy">© 2015-2015 ТОВ «GLOBAL BENEFIT NETWORK COMPANY». Всі права захищені.</div>
                                    <div class="print-block"></div>
                                    <div id="bx-composite-banner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>