@*<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="f_soc_p f_show_on_mobile">
                <a href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/groups/benefitcompany" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/+BenefitCompanyTV" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="https://twitter.com/benefitcompany" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/benefitcompany/" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="viber://chat?number=%2B380500354555" class="viber" title="Viber"><i class="fa fa-volume-control-phone " aria-hidden="true"></i></a>
                <a href="whatsapp://send?phone=%2B380500354555" class="whatsapp" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href="skype:live:info_706852?chat" class="skype" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
            <div class="f_contact">
                <u>Служба підтримки:</u>
                <div class="row">
                    <div class="col-sm-5">
                        (050) 035 45 55<br/>
                        (063) 035 45 55<br/>
                        (097) 035 45 55
                    </div>
                    <div class="col-sm-6 lebedev">
                        <div>
                            <span>Пн.-Пт.</span>
                            <span>9:00 — 17:00</span>
                        </div>
                        <div>
                            <span>Сб., Нд.</span>
                            <span>вихідний</span>
                        </div>
                        <div>
                            <span>Обід:</span>
                            <span>13:00-14:00</span>
                        </div>
                    </div>
                </div>
                <address class="f_addr show_on_tablet">
                    <u>E-maіl:</u> <br>
                    <a class="whitelink_no_changes" href="mailto:info@benefit-company.com">info@benefit-company.com</a>
                    <br />
                    <br />
                    <u>Адреса для листування:</u>
                    <br />
                    а/с №8 пл. Кирила та Мефодія,4<br>
                    м.Ужгород, 88005
                </address>
            </div>
        </div>
        <div class="col-md-2">
            <address class="f_addr">
                <u>E-maіl:</u> <br>
                <a class="whitelink_no_changes" href="mailto:info@benefit-company.com">info@benefit-company.com</a>
                <br />
                <br />
                <u>Адреса для листування:</u>
                <br />
                а/с №8 пл. Кирила та Мефодія,4<br>
                м.Ужгород, 88005
            </address>
        </div>
        <div class="col-md-3">
            <div class="f_links">
                <a href="@Url.RouteUrl("pagesRoute", new { id = "pravila_koristuvannya_kartkoyu_benefit" })">Правила користування <br />бонусною карткою <br />«Benefit Card»</a>
                <a href="@Url.RouteUrl("pagesRoute", new { id = "stati_postachalnikom" })">Співпраця з Benefit Company</a>
                <a href="@Url.RouteUrl("newsRoute")">Новини</a>
            </div>
            <div class="f_soc_p show_on_tablet f_hide_on_mobile">
                <a href="#" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="#" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="f_soc_p hide_on_tablet">
                <a title="Youtube" href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a title="Facebook" href="https://www.facebook.com/groups/benefitcompany" class="fb" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a title="Google Plus" href="https://plus.google.com/+BenefitCompanyTV" class="gp" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a title="Twitter" href="https://twitter.com/benefitcompany" class="tw" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a title="Instagram" href="https://www.instagram.com/benefitcompany/" class="ig" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="viber://chat?number=%2B380500354555" class="viber" title="Viber"><i class="fa fa-volume-control-phone " aria-hidden="true"></i></a>
                <a href="whatsapp://send?phone=%2B380500354555" class="whatsapp" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href="skype:live:info_706852?chat" class="skype" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
            <p class="f_soc_under">
                © 2015-2017 ТОВ «GLOBAL BENEFIT NETWORK COMPANY».
                Всі права захищені.
            </p>
        </div>
    </div>
</div>*@

<footer id="footer">
    <!-- просмотренные товары -->
    <div class="viewed_product_block">
        <div class="wrapper_inner">
            <div class="similar_products_wrapp">
               @*<div class="viewed_block horizontal">
                    <h3 class="title_block sm">Ранее вы смотрели</h3>
                    <div class="outer_wrap flexslider shadow items border custom_flex top_right" data-plugin-options='{"animation": "slide", "directionNav": true, "itemMargin":10, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [5,4,3,2,1]}'>

                        <ul class="rows_block slides">
                            <li class="item_block">
                                <div class="item_wrap item has-item">
                                    <div class="inner_wrap">
                                        <div class="image_wrapper_block shine">
                                            <a href="#" class="thumb">
                                                <img class="noborder" src="images/74c0e206ce9d68524c0a4bc8a9e16ac7.jpg" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="item_info">
                                            <div class="item-title">
                                                <a href="#" class="dark_link"><span>Набор елочных игрушек "Рождество"</span></a>
                                            </div>
                                            <div class="rating">
                                                <div class="iblock-vote small">
                                                    <table class="table-no-border">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="star-active star-voted" title="1"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="2"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="3"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="4"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="cost prices clearfix">
                                                <div class="price_matrix_block">
                                                    <div class="price_matrix_wrapper ">
                                                        <div class="price" data-currency="RUB" data-value="1800">
                                                            <span class="values_wrapper">
                                                                <span class="price_value">1 800</span>
                                                                <span class="price_currency"> руб.</span>
                                                            </span><span class="price_measure">/шт</span>
                                                        </div>
                                                        <div class="price discount" data-currency="RUB" data-value="2000">
                                                            <span class="values_wrapper"><span class="price_value">2 000</span><span class="price_currency"> руб.</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="item_block">
                                <div class="item_wrap item has-item">
                                    <div class="inner_wrap">
                                        <div class="image_wrapper_block shine">
                                            <a href="#" class="thumb">
                                                <img class="noborder" src="images/74c0e206ce9d68524c0a4bc8a9e16ac7.jpg" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="item_info">
                                            <div class="item-title">
                                                <a href="#" class="dark_link"><span>Набор елочных игрушек "Рождество"</span></a>
                                            </div>
                                            <div class="rating">
                                                <div class="iblock-vote small">
                                                    <table class="table-no-border">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="star-active star-voted" title="1"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="2"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="3"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="4"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="cost prices clearfix">
                                                <div class="price_matrix_block">
                                                    <div class="price_matrix_wrapper ">
                                                        <div class="price" data-currency="RUB" data-value="1800">
                                                            <span class="values_wrapper">
                                                                <span class="price_value">1 800</span>
                                                                <span class="price_currency"> руб.</span>
                                                            </span><span class="price_measure">/шт</span>
                                                        </div>
                                                        <div class="price discount" data-currency="RUB" data-value="2000">
                                                            <span class="values_wrapper"><span class="price_value">2 000</span><span class="price_currency"> руб.</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="item_block">
                                <div class="item_wrap item has-item">
                                    <div class="inner_wrap">
                                        <div class="image_wrapper_block shine">
                                            <a href="#" class="thumb">
                                                <img class="noborder" src="images/74c0e206ce9d68524c0a4bc8a9e16ac7.jpg" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="item_info">
                                            <div class="item-title">
                                                <a href="#" class="dark_link"><span>Набор елочных игрушек "Рождество"</span></a>
                                            </div>
                                            <div class="rating">
                                                <div class="iblock-vote small">
                                                    <table class="table-no-border">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="star-active star-voted" title="1"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="2"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="3"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="4"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="cost prices clearfix">
                                                <div class="price_matrix_block">
                                                    <div class="price_matrix_wrapper ">
                                                        <div class="price" data-currency="RUB" data-value="1800">
                                                            <span class="values_wrapper">
                                                                <span class="price_value">1 800</span>
                                                                <span class="price_currency"> руб.</span>
                                                            </span><span class="price_measure">/шт</span>
                                                        </div>
                                                        <div class="price discount" data-currency="RUB" data-value="2000">
                                                            <span class="values_wrapper"><span class="price_value">2 000</span><span class="price_currency"> руб.</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="item_block">
                                <div class="item_wrap item has-item">
                                    <div class="inner_wrap">
                                        <div class="image_wrapper_block shine">
                                            <a href="#" class="thumb">
                                                <img class="noborder" src="images/74c0e206ce9d68524c0a4bc8a9e16ac7.jpg" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="item_info">
                                            <div class="item-title">
                                                <a href="#" class="dark_link"><span>Набор елочных игрушек "Рождество"</span></a>
                                            </div>
                                            <div class="rating">
                                                <div class="iblock-vote small">
                                                    <table class="table-no-border">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="star-active star-voted" title="1"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="2"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="3"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="4"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="cost prices clearfix">
                                                <div class="price_matrix_block">
                                                    <div class="price_matrix_wrapper ">
                                                        <div class="price" data-currency="RUB" data-value="1800">
                                                            <span class="values_wrapper">
                                                                <span class="price_value">1 800</span>
                                                                <span class="price_currency"> руб.</span>
                                                            </span><span class="price_measure">/шт</span>
                                                        </div>
                                                        <div class="price discount" data-currency="RUB" data-value="2000">
                                                            <span class="values_wrapper"><span class="price_value">2 000</span><span class="price_currency"> руб.</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="item_block">
                                <div class="item_wrap item has-item">
                                    <div class="inner_wrap">
                                        <div class="image_wrapper_block shine">
                                            <a href="#" class="thumb">
                                                <img class="noborder" src="images/74c0e206ce9d68524c0a4bc8a9e16ac7.jpg" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="item_info">
                                            <div class="item-title">
                                                <a href="#" class="dark_link"><span>Набор елочных игрушек "Рождество"</span></a>
                                            </div>
                                            <div class="rating">
                                                <div class="iblock-vote small">
                                                    <table class="table-no-border">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="star-active star-voted" title="1"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="2"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="3"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="4"></div>
                                                                </td>
                                                                <td>
                                                                    <div class="star-active star-voted" title="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="cost prices clearfix">
                                                <div class="price_matrix_block">
                                                    <div class="price_matrix_wrapper ">
                                                        <div class="price" data-currency="RUB" data-value="1800">
                                                            <span class="values_wrapper">
                                                                <span class="price_value">1 800</span>
                                                                <span class="price_currency"> руб.</span>
                                                            </span><span class="price_measure">/шт</span>
                                                        </div>
                                                        <div class="price discount" data-currency="RUB" data-value="2000">
                                                            <span class="values_wrapper"><span class="price_value">2 000</span><span class="price_currency"> руб.</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>*@

            </div>
        </div>
    </div>
    <!-- просмотренные товары -->
    <div class="footer_inner no_fill footer-grey ext_view">
        <div class="bottom_wrapper">
            <div class="wrapper_inner">
                <div class="row bottom-middle">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#/company/index.php">Компания</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/company/">О компании</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/company/news/">Новости</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/company/staff/">Сотрудники</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/company/vacancy/">Вакансии</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/contacts/stores/">Магазины</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/include/licenses_detail.php">Политика</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#/info/">Информация</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/">Помощь</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/payment/">Условия оплаты</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/delivery/">Условия доставки</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/help/warranty/">Гарантия на товар</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/more/">Возможности</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="bottom-menu">
                                    <div class="items">
                                        <div class="item-link">
                                            <div class="item">
                                                <div class="title">
                                                    <a href="#/help/">Помощь</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/blog/">Блог</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/faq/">Вопрос-ответ</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/info/brands/">Бренды</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-link">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="#/landings/">Обзоры</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6">
                                <div class="subscribe_wrap">
                                    <div class="subscribe-form s_hgkNft">
                                        <div class="wrap_bg">
                                            <div class="top_blocks">
                                                <div class="text">
                                                    <div class="title">Будьте всегда в курсе!</div>
                                                    <div class="more">Узнавайте о скидках и акциях первым</div>
                                                </div>
                                            </div>
                                            <form action="/personal/subscribe/" class="sform box-sizing" novalidate="novalidate">
                                                <div class="email_wrap">
                                                    <input title="Ваш e-mail" class="email_input" name="sf_EMAIL" maxlength="100" required="" size="20" placeholder="Ваш e-mail" aria-required="true" type="email">
                                                    <input name="OK" class="btn btn-default send_btn" value="Подписаться" type="submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="social-block rounded_block">
                                    <div class="social-icons">
                                        <div class="small_title">Оставайтесь на связи</div>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#/2" target="_blank" rel="nofollow" title="Facebook">
                                                    Facebook
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#/3" target="_blank" rel="nofollow" title="Twitter">
                                                    Twitter
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#/4" target="_blank" rel="nofollow" title="Instagram">
                                                    Instagram
                                                </a>
                                            </li>
                                            <li class="ytb">
                                                <a href="#/5" target="_blank" rel="nofollow" title="YouTube">
                                                    YouTube
                                                </a>
                                            </li>
                                            <li class="gplus">
                                                <a href="#/7" target="_blank" rel="nofollow" title="Google Plus">
                                                    Google Plus
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-4 col-sm-offset-2">
                                <div class="info contacts_block_footer">
                                    <span class="white_middle_text">Наши контакты</span>
                                    <div class="phone blocks">
                                        <div class="phone with_dropdown">
                                            <i class="svg svg-phone"></i>
                                            <a rel="nofollow" href="tel:+70000000010">+7 (000) 000-00-10</a>
                                            <div class="dropdown">
                                                <div class="wrap">
                                                    <div class="more_phone">
                                                        <a href="tel:+70000000011">+7 (000) 000-00-11</a>
                                                    </div>
                                                    <div class="more_phone">
                                                        <a href="tel:+70000000012">+7 (000) 000-00-12</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address blocks">Челябинск, ул. Лермонтова 21, 3 этаж, офис 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-under">
                    <div class="row">
                        <div class="col-md-12 outer-wrapper">
                            <div class="inner-wrapper row">
                                <div class="copy-block">
                                    <div class="copy">© 2015-2017 ТОВ «GLOBAL BENEFIT NETWORK COMPANY». Всі права захищені.</div>
                                    <div class="print-block"></div>
                                    <div id="bx-composite-banner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
