@using Benefit.Web.Helpers

@*<header>
    <div class="container">
        <div class="container_table topheader_content position-relative">
            <div class="position-absolute logo-container">
                @{
                    var href = (RouteDataHelper.ControllerName == "home" && RouteDataHelper.ActionName == "index") ? "#" : Url.Action("Index", "Home", new { area = string.Empty }, Request.Url.Scheme);
                }
                <a class="logo" href='@href'></a>
                <div class="show_on_tablet logo_region select_place_container">
                    <i class="icn location"></i>
                    <span class="inside"></span>
                </div>
                <div class="logo_slogan">Онлайн торговий центр</div>
            </div>
            <div class="menu-container">
                <div class="menu lmenu_block" id="left-menu">
                    @Html.Partial("_MenuPartial")
                    <div class="f_soc_p">
                        <a href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/groups/benefitcompany" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/+BenefitCompanyTV" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/benefitcompany" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/benefitcompany/" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="viber://chat?number=%2B380500354555" class="viber" title="Viber"><i class="fa fa-volume-control-phone " aria-hidden="true"></i></a>
                        <a href="whatsapp://send?phone=%2B380500354555" class="whatsapp" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        <a href="skype:live:info_706852?chat" class="skype" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    </div>
                    <div class="lmenu_contact">
                        <span>Служба підтримки:</span>
                        <a href="tel:+380500354555">
                            <span>(050) 035 45 55</span>
                        </a>
                        <a href="tel:+380630354555">
                            <span>(063) 035 45 55</span>
                        </a>
                        <a href="tel:+380970354555">
                            <span>(097) 035 45 55</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-right contacts-container">
                <div class="top_right_selectors">
                    <div class="dropdown dropdown_inline margin-left-10">
                        <a title="Viber" href="viber://chat?number=%2B380500354555">
                            <img src="~/Content/img/viber_png.png" />
                        </a>
                        <a title="Whatsapp" href="whatsapp://send?phone=%2B380500354555">
                            <img src="~/Content/img/whatsapp_png.png" />
                        </a>
                        <a title="Skype" href="skype:live:info_706852?chat">
                            <img src="~/Content/img/skype_png.png" />
                        </a>
                    </div>
                    <div class="dropdown dropdown_inline">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icn flag ua"></i>
                            УКР
                            $1$                                <span class="caret"></span>#1#
                        </button>
                        $1$//todo:add language select <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="select_language">
                                <li><a href="#"><i class="icn flag ua"></i> РУС</a></li>
                            </ul>#1#
                    </div>
                    @Html.Partial("_SelectRegionPartial")
                </div>
                <div class="top_right_phone">
                    <div>
                        <i class="icn phone"></i>
                    </div>
                    <div>
                        <span>(050) 035 45 55</span>
                        <span>(063) 035 45 55</span>
                        <span>(097) 035 45 55</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>*@

<header id="header" class="header-v4 header-wrapper">
    <div class="logo_and_menu-row">
        <div class="logo-row">
            <div class="maxwidth-theme">
                <div class="row">
                    <div class="logo-block col-md-2 col-sm-3">
                        <div class="logo ">
                            @{
                                var href = (RouteDataHelper.ControllerName == "home" && RouteDataHelper.ActionName == "index") ? "#" : Url.Action("Index", "Home", new { area = string.Empty }, Request.Url.Scheme);
                            }
                            <a href="@href"><img src="images/logo.jpg"></a>
                        </div>
                    </div>
                    <div class="inline-block pull-left">
                        <div class="top-description">
                            <div class="region_wrapper">
                                <div class="city_title">Ваше місто</div>
                                <div class="js_city_chooser colored select_place_container">
                                    <span class="inside"></span><span class="arrow"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 search_wrap">
                        <div class="search-block inner-table-block">
                            <div class="search-wrapper">
                                <div id="title-search_fixed">
                                    <form action="#" class="search">
                                        <div class="search-input-div">
                                            <input class="search-input" id="title-search-input_fixed" placeholder="Пошук товарів" size="20" maxlength="50" autocomplete="off">
                                        </div>
                                        <div class="search-button-div">
                                            <button class="btn btn-search" type="submit" name="s" value="Поиск"><i class="svg svg-search svg-black"></i></button>
                                            <span class="close-block inline-search-hide"><span class="svg svg-close close-icons"></span></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-icons pull-right">
                        <div class="pull-right block-link">
                            <div class="wrap_icon inner-table-block baskets">
                                <a class="basket-link compare  with_price lg " href="#" title="Список сравниваемых элементов">
                                    <span class="js-basket-block">
                                        <i class="svg svg-compare "></i>
                                        <span class="title dark_link">Порівняння</span><span class="count">0</span>
                                    </span>
                                </a>
                            </div>
                            <div class="wrap_icon inner-table-block baskets">
                                <a rel="nofollow" class="basket-link delay with_price lg " href="#" title="Список отложенных товаров пуст">
                                    <span class="js-basket-block">
                                        <i class="svg svg-wish "></i>
                                        <span class="title dark_link">Улюблене</span><span class="count">1</span>
                                    </span>
                                </a>
                            </div>
                            <div class="wrap_icon inner-table-block baskets">
                                <a rel="nofollow" class="basket-link basket has_prices with_price  " href="#/basket/" title="Корзина пуста">
                                    <span class="js-basket-block">
                                        <i class="svg svg-basket "></i>
                                        <span class="wrap"><span class="title dark_link">Кошик покупок</span><span class="prices">порожній</span></span>
                                        <span class="count">0</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="wrap_icon inner-table-block">
                                <a rel="nofollow" title="Мой кабинет" class="personal-link dark-color animate-load" href="#">
                                    <i class="svg svg-cabinet-login lg" aria-hidden="true"></i>
                                    <span class="wrap"><span class="name">Увійти</span><span class="title">Кабінет</span></span>
                                </a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="wrap_icon inner-table-block">
                                <div class="phone-block">
                                    <div class="phone with_dropdown">
                                        <i class="svg svg-phone"></i>
                                        <a rel="nofollow" href="tel:+70000000010">+38 (050) 000-00-10</a>
                                        <div class="dropdown">
                                            <div class="wrap">
                                                <div class="more_phone"><a href="tel:+70000000011">+38 (000) 000-00-11</a></div>
                                                <div class="more_phone"><a href="tel:+70000000012">+38 (000) 000-00-12</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="menu-row middle-block bgcolored">
        <div class="maxwidth-theme">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-only">
                        <nav class="mega-menu sliced ovisible">
                            <div class="table-menu">
                                <table>
                                    <tbody>
                                        <tr>


                                            <td class="menu-item dropdown catalog ">
                                                <div class="wrap">
                                                    <a class="dropdown-toggle" href="#" style="padding-top: 10px;">
                                                        <div>КАТАЛОГ<br>ТОВАРІВ ТА ПОСЛУГ<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>

                                            <td class="menu-item dropdown catalog wide_menu">
                                                <div class="wrap">
                                                    <a class="dropdown-toggle" href="#" style="padding-top: 10px;">
                                                        <div>
                                                            КАТАЛОГ<br>ПОСТАЧАЛЬНИКІВ<div class="line-wrapper"><span class="line"></span></div>
                                                        </div>
                                                    </a>
                                                    <span class="tail"></span>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/b8b1e9eea76c53e71c19b14a8f922552.png" alt="Автоэлектроника" title="Автоэлектроника"></div>
                                                            <a href="#/catalog/avtoelektronika/" title="Автоэлектроника"><span class="name">Автоэлектроника</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/avtoelektronika/gps_navigatory/" title="GPS-навигаторы"><span class="name">GPS-навигаторы</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/avtoelektronika/videoregistratory/" title="Видеорегистраторы"><span class="name">Видеорегистраторы</span></a>
                                                                </li>
                                                                <li class="menu-item  dropdown-submenu ">
                                                                    <a href="#/catalog/avtoelektronika/avtozvuk/" title="Автозвук"><span class="name">Автозвук</span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li class="menu-item ">
                                                                            <a href="#/catalog/avtoelektronika/avtozvuk/magnitoly/" title="Магнитолы"><span class="name">Магнитолы</span></a>
                                                                        </li>
                                                                        <li class="menu-item ">
                                                                            <a href="#/catalog/avtoelektronika/avtozvuk/akustika/" title="Акустика"><span class="name">Акустика</span></a>
                                                                        </li>
                                                                    </ul>

                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/avtoelektronika/radary_detektory/" title="Радары-детекторы"><span class="name">Радары-детекторы</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/a7718d0c780d1c77cc25d047d811305b_002.png" alt="Бытовая техника" title="Бытовая техника"></div>
                                                            <a href="#/catalog/bytovaya_tekhnika/" title="Бытовая техника"><span class="name">Бытовая техника</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/bytovaya_tekhnika/kholodilniki/" title="Холодильники"><span class="name">Холодильники</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/bytovaya_tekhnika/mikrovolnovye_pechi/" title="Микроволновые печи"><span class="name">Микроволновые печи</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/bytovaya_tekhnika/vodonagrevateli/" title="Водонагреватели"><span class="name">Водонагреватели</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/800777c5bae4963b72557d19fa21dbff_002.png" alt="Напольные покрытия" title="Напольные покрытия"></div>
                                                            <a href="#/catalog/napolnye_pokrytiya/" title="Напольные покрытия"><span class="name">Напольные покрытия</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/napolnye_pokrytiya/laminat/" title="Ламинат"><span class="name">Ламинат</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/napolnye_pokrytiya/parketnaya_doska/" title="Паркетная доска"><span class="name">Паркетная доска</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/napolnye_pokrytiya/plitka/" title="Плитка"><span class="name">Плитка</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/napolnye_pokrytiya/podlozhki_osnovaniya/" title="Подложки, основания"><span class="name">Подложки, основания</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/2cee92447732fdf62fa45cf52e2b9677.png" alt="Садовая техника" title="Садовая техника"></div>
                                                            <a href="#/catalog/sadovaya_tekhnika/" title="Садовая техника"><span class="name">Садовая техника</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/sadovaya_tekhnika/kultivatory/" title="Культиваторы"><span class="name">Культиваторы</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/sadovaya_tekhnika/motobloki/" title="Мотоблоки"><span class="name">Мотоблоки</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/eee4a7f27507041591b46bb3e12e639c_003.png" alt="Сантехника" title="Сантехника"></div>
                                                            <a href="#/catalog/santekhnika/" title="Сантехника"><span class="name">Сантехника</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/santekhnika/vanny/" title="Ванны"><span class="name">Ванны</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/santekhnika/dushevye_kabiny/" title="Душевые кабины"><span class="name">Душевые кабины</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/santekhnika/rakoviny_umyvalniki/" title="Раковины, умывальники"><span class="name">Раковины, умывальники</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/santekhnika/smesiteli/" title="Смесители"><span class="name">Смесители</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/santekhnika/unitazy/" title="Унитазы"><span class="name">Унитазы</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/45d0c4e3bd14395d56971eb98231725c_003.png" alt="Строительные материалы" title="Строительные материалы"></div>
                                                            <a href="#/catalog/stroitelnye_materialy/" title="Строительные материалы"><span class="name">Строительные материалы</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/stroitelnye_materialy/klei/" title="Клеи"><span class="name">Клеи</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/stroitelnye_materialy/lakokrasochnye_materialy/" title="Лакокрасочные материалы"><span class="name">Лакокрасочные материалы</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/stroitelnye_materialy/sukhie_stroitelnye_smesi/" title="Сухие строительные смеси"><span class="name">Сухие строительные смеси</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/187b8a397c2f89124136b6a8a006aa42_002.png" alt="Фото и видео" title="Фото и видео"></div>
                                                            <a href="#/catalog/foto_i_video/" title="Фото и видео"><span class="name">Фото и видео</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/foto_i_video/videokamery/" title="Видеокамеры"><span class="name">Видеокамеры</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/foto_i_video/obektivy/" title="Объективы"><span class="name">Объективы</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/foto_i_video/fotoapparaty/" title="Фотоаппараты"><span class="name">Фотоаппараты</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/foto_i_video/tsifrovye_fotoramki/" title="Цифровые фоторамки"><span class="name">Цифровые фоторамки</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/2401bc2fbc56c6874ce899b8fad6a75f.png" alt="Косметика" title="Косметика"></div>
                                                            <a href="#/catalog/kosmetika/" title="Косметика"><span class="name">Косметика</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/kosmetika/gubnaya_pomada/" title="Губная помада"><span class="name">Губная помада</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/kosmetika/lak_dlya_nogtey/" title="Лак для ногтей"><span class="name">Лак для ногтей</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/kosmetika/pudra/" title="Пудра"><span class="name">Пудра</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/kosmetika/teni/" title="Тени"><span class="name">Тени</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/fbd6529e563ec1298801b19505c9f392.jpg" alt="Одежда" title="Одежда"></div>
                                                            <a href="#/catalog/odezhda/" title="Одежда"><span class="name">Одежда</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/odezhda/zhenskaya_odezhda/" title="Женская одежда"><span class="name">Женская одежда</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/odezhda/muzhskaya_odezhda/" title="Мужская одежда"><span class="name">Мужская одежда</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/odezhda/detskaya_dlya_devochek/" title="Детская для девочек"><span class="name">Детская для девочек</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/odezhda/dlya_malchikov/" title="Детская для мальчиков"><span class="name">Детская для мальчиков</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/50b8384224aa324c8063fa9312236026_003.png" alt="Спортивные товары" title="Спортивные товары"></div>
                                                            <a href="#/catalog/sport/" title="Спортивные товары"><span class="name">Спортивные товары</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/sport/veloryukzaki/" title="Велорюкзаки"><span class="name">Велорюкзаки</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/sport/velosipedy/" title="Велосипеды"><span class="name">Велосипеды</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/4c525ca8274fd069db1b8585644be8bd.png" alt="Электроинструмент" title="Электроинструмент"></div>
                                                            <a href="#/catalog/elektroinstrument/" title="Электроинструмент"><span class="name">Электроинструмент</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/elektroinstrument/dreli/" title="Дрели"><span class="name">Дрели</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/elektroinstrument/perforatory/" title="Перфораторы"><span class="name">Перфораторы</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/elektroinstrument/shurupoverty/" title="Шуруповерты"><span class="name">Шуруповерты</span></a>
                                                                </li>
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/elektroinstrument/akkumulyatory/" title="Аккумуляторы"><span class="name">Аккумуляторы</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="  has_img">
                                                            <div class="menu_img"><img src="images/cca3fc991e7ba907c26118b6b6287fcf_002.jpg" alt="Новогодняя распродажа" title="Новогодняя распродажа"></div>
                                                            <a href="#/catalog/novogodnyaya_rasprodazha/" title="Новогодняя распродажа"><span class="name">Новогодняя распродажа</span></a>
                                                        </li>
                                                        <li class="dropdown-submenu  has_img">
                                                            <div class="menu_img"><img src="images/bf78b9cbd5cba99b2cb63930bcbe6cbd.png" alt="Товары для собак" title="Товары для собак"></div>
                                                            <a href="#/catalog/tovary_dlya_sobak/" title="Товары для собак"><span class="name">Товары для собак</span><span class="arrow"><i></i></span></a>
                                                            <ul class="dropdown-menu toggle_menu">
                                                                <li class="menu-item   ">
                                                                    <a href="#/catalog/tovary_dlya_sobak/sukhie_korma/" title="Сухие корма" style="white-space: normal;"><span class="name">Сухие корма</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#">
                                                        <div>Партнерська програма<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#">
                                                        <div>Співпраця<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#">
                                                        <div>FAQ<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#">
                                                        <div>Новини<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#">
                                                        <div>Контакти<div class="line-wrapper"><span class="line"></span></div></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="menu-item" style="visibility: visible;">
                                                <div class="wrap">
                                                    <a class="" href="#/contacts/">
                                                        <div>
                                                            Акції<div class="line-wrapper"><span class="line"></span></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>

                                            <td class="menu-item dropdown js-dropdown nosave" style="display: none; visibility: visible;">
                                                <div class="wrap">
                                                    <a class="dropdown-toggle more-items" href="#">
                                                        <span>Ещё</span>
                                                    </a>
                                                    <span class="tail"></span>
                                                    <ul class="dropdown-menu"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-row visible-xs"></div>
</header>