<header>
    <div class="container">
        <div class="container_table topheader_content">
            <div class="col-2">
                <a class="logo" href='@Url.Action("Index", "Home", new { area = string.Empty }, Request.Url.Scheme)'></a>
                <div class="show_on_tablet logo_region select_place_container">
                    <i class="icn location"></i>
                    <span class="inside"></span>
                </div>
                <div class="logo_slogan">Онлайн торговий центр</div>
            </div>
            <div class="col-8">
                <div class="menu lmenu_block" id="left-menu">
                    @Html.Partial("_MenuPartial")
                    <div class="f_soc_p">
                        <a href="https://www.youtube.com/channel/UC2YbFBSzjxW_ji2_mDBeWpw" class="yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/groups/benefitcompany" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://vk.com/benefitclub" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href="#" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <div class="lmenu_contact">
                        <span>Служба підтримки:</span>
                        <a href="tel:+380500354555">
                            <span>(050) 035 45 55</span>
                        </a>
                        <a href="tel:+380630354555">
                            <span>(063) 035 45 55</span>
                        </a>
                        <a href="tel:+380970354555">
                            <span>(097) 035 45 55</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="top_right_selectors">
                    <div class="dropdown dropdown_inline">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icn flag ua"></i>
                            УКР
                            @*                                <span class="caret"></span>*@
                        </button>
                        @*//todo:add language select <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="select_language">
                                <li><a href="#"><i class="icn flag ua"></i> РУС</a></li>
                            </ul>*@
                    </div>
                    @Html.Partial("_SelectRegionPartial")
                </div>
                <div class="top_right_phone">
                    <div>
                        <i class="icn phone"></i>
                    </div>
                    <div>
                        <span>(050) 035 45 55</span>
                        <span>(063) 035 45 55</span>
                        <span>(097) 035 45 55</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>