@using Benefit.Common.Constants
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(HttpUtility.UrlDecode(Request.Cookies[RouteConstants.FullNameCookieName].Value), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <div class="sub_header_right_links">
        <a href="@Url.Action("Login", "Account")">Вхід</a>
        <a href="@Url.Action("Register", "Account")">Реєстрація</a>
    </div>
}
