<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "partnerska_programa"})">
            <div>Партнерська програма<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "stati_postachalnikom"})">
            <div>Співпраця<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "faq"})">
            <div>FAQ<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.Action("index","news")">
            <div>Новини<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="#">
            <div>Контакти<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="#">
            <div>
                Акції<div class="line-wrapper"><span class="line"></span></div>
            </div>
        </a>
    </div>
</td>
<td class="menu-item dropdown js-dropdown nosave" style="display: none; visibility: visible;">
    <div class="wrap">
        <a class="dropdown-toggle more-items" href="#">
            <span>Ещё</span>
        </a>
        <span class="tail"></span>
        <ul class="dropdown-menu"></ul>
    </div>
</td>