<ul>
    <li class="login_links show_on_tablet"><a href="#">Вхід</a> | <a href="#">Реєстрація</a></li>
    <li class="margin-left-0">
        <a href="#">Партнерська програма</a>
    </li>
    <li>
        <a href="#">Стати постачальником</a>
    </li>
    <li>
        <a href="#">Benefit Card</a>
    </li>
    <li>
        <a href="#">FAQ</a>
    </li>
    <li>
        <a href="#">Новини</a>
    </li>
</ul>
