<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "partnerska_programa"})">
            <div class="no-hover-underline">Партнерська програма<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "stati_postachalnikom"})">
            <div class="no-hover-underline">Співпраця<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.RouteUrl("pagesRoute", new {id = "faq"})">
            <div class="no-hover-underline">FAQ<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="@Url.Action("index","news")">
            <div class="no-hover-underline">Новини<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="#">
            <div class="no-hover-underline">Контакти<div class="line-wrapper"><span class="line"></span></div></div>
        </a>
    </div>
</td>
<td class="menu-item" style="visibility: visible;">
    <div class="wrap">
        <a class="" href="#">
            <div class="no-hover-underline">
                Акції<div class="line-wrapper"><span class="line"></span></div>
            </div>
        </a>
    </div>
</td>