@model Benefit.Web.Models.ViewModels.MessagePopupViewModel
<div class="basket_modal modal fade in message-modal" style="display: block; text-align: center;">
    <div class="modal-dialog" style="width: auto;">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true"><span></span></div>
            <div class="modal-body">
                <div style="font-size: 2em; line-height: 1.2em; text-align: center;">
                    @Html.Raw(Model.Message)
                </div>
                @if (Model.ShowButtons)
                {
                    <div style="margin-top: 50px;">
                        <button class="btn btn-lg btn-success" style="width: 100px;" data-dismiss="modal">Так</button>
                        <a href="/" class="btn btn-lg btn-danger pull-right" style="width: 100px;">Ні</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

