<div class="mob_block">
@*    <p>Завантажити додаток</p>*@
    <div>
        <a href="https://play.google.com/store/apps/details?id=ua.uz.mycomp.benefitcard_client" target="_blank"><i class="fa fa-android" aria-hidden="true"></i> Play Market</a>
    </div>
    <div>
        <a href="https://itunes.apple.com/ua/app/benefit-card/id1067263311?l=ru&mt=8" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i> App Store</a>
    </div>
</div><!-- mob block -->