@using Benefit.Common.Constants

<div class="region-popover hidden">
    <div class="content margin-10 region-popover-content">
        <div class="row">
            <div class="col-md-12 font-bigger" style="color: black;">
                Ваше місто <span class="bold" style="color: #9e1414;">Ужгород?</span>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-lg width-100" data-region-id="401098" data-region-name="Ужгород">Так</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default width-100 btn-lg">Ні</button>
            </div>
        </div>
    </div>
</div>

<div class="region_modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: center;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Оберіть свій населений пункт</h4>
            </div>
            <div class="modal-body">
                <div class="predefinedRegions">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" data-region-id="@RegionConstants.AllUkraineRegionId">Вся Україна</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" data-region-id="430513">Київ</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" data-region-id="401106">Харків</a>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-sm-4">
                            <a href="#" data-region-id="400954">Одеса</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" data-region-id="400734">Дніпро</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" data-region-id="400879">Львів</a>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-sm-4">
                            <a href="#" data-region-id="401098">Ужгород</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" data-region-id="400912">Мукачево</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropdown_inline margin-top-10">
                    <i class="icn location"></i>
                    <input type="text" class="region-modal-search-txt" placeholder="Почніть вводити назву" />
                </div>
                <br />
                <p class="no-adapt-lg">
                    Населений пункт- це місто або село(селище міського типу), в якому знаходиться Покупець. Якщо населений пункт відображений правильно, тоді Ви зможете бачити:
                </p>
                <ul class="info grey-6 no-adapt-lg">
                    <li>всіх постачальників, які знаходятся у Вашому місті</li>
                    <li>інтернет-магазини, які доставляють товари у Ваше місто</li>
                </ul>
            </div>
        </div>
    </div>
</div>
