<div class="region_modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Оберіть своє місто</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown dropdown_inline">
                    <i class="icn location"></i>
                    <input type="text" class="region-modal-search-txt width-50" />
                </div>
            </div>
        </div>
    </div>
</div>
