<div class="dropdown dropdown_inline">
    <i class="icn location"></i>
    <button class="btn btn-default mega-dropdown" type="button" id="select_place">
        <span class="inside"></span>
        <span class="caret"></span>
    </button>
</div>
