<div class="dropdown dropdown_inline">
    <i class="icn location"></i>
    <button class="btn btn-default mega-dropdown select_place_container" type="button">
        <span class="inside"></span>
        <span class="caret"></span>
    </button>
</div>
