<div class="top-description">
    <div class="region_wrapper">
        <div class="city_title">Ваше місто</div>
        <div class="js_city_chooser colored select_place_container">
            <span class="inside"></span>
            <span class="arrow"><i></i></span>
        </div>
    </div>
</div>