@model bool
<div class="top-description">
    <div class="region_wrapper @(Model ? "" : "no-popover" )">
        <div class="city_title">Ваше місто</div>
        <div class="js_city_chooser colored select_place_container">
            <span class="inside">
                @(HttpUtility.UrlDecode(Request.Cookies["regionName"] == null ? string.Empty :Request.Cookies["regionName"].Value))
            </span>
            <span><i class="fas fa-caret-down"></i></span>
        </div>
    </div>
</div>