@using Benefit.Common.Constants
<!-- Map Widget -->
<div class="social_block fb hide_on_tablet bordered sellers-location">
    <a style="display: block" href="@Url.Action("Map","Home")">
        <div class="sellers-location-head">
            Мапа закладів
            <br/>
            Benefit Card
        </div>
        <div>
            <img src="~/Content/img/map.png" alt="карта закладів Benefit Card" />
        </div>
    </a>
</div>

<!-- FB Widget -->
<div class="social_block fb hide_on_tablet">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=635571649935665";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-page" data-href="https://www.facebook.com/benefitcompany/" data-width="225" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/benefitcompany/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/benefitcompany/">Global Benefit Network Company</a></blockquote>
    </div>
</div>

<div class="social_block fb hide_on_tablet bordered sellers-location">
    <a style="display: block" href="https://benefit-company.com/postachalnyk/benefit_to_business/catalog/benefit_to_business/tovar/shvidkiy_start_2017">
        <img src="~/Content/img/start.jpg" alt="швидкий старт 2017" />
    </a>
</div>