@using Benefit.Domain.Models
@model Product
@if (Model.Name != null)
{
    @Html.HiddenFor(m => m.DefaultImageId)
    <br />
    <p>
        Галерея
    </p>
    <div id="dZUpload" class="dropzone">
    </div>
    if (Model.Images.Any())
    {
        <br />
        <b>Порядок зображень</b>
        <div>
            <ol class="dd-list display-flex" id="imagesOrder">
                @{
                    var images = Model.Images.Where(entry => entry.ImageType == ImageType.ProductGallery).OrderBy(entry => entry.Order).ToList();
                }
                @for (var i = 0; i < images.Count; i++)
                {
                    <li class="cursor-move width-10 margin-5" data-image-id="@images[i].Id">
                        <div class="dd-handle">
                            @if (images[i].IsAbsoluteUrl)
                            {
                                <img src="@images[i].ImageUrl" height="70" />
                            }
                            else
                            {
                                <img src="~/Images/ProductGallery/@Model.Id/@images[i].ImageUrl" height="70" />
                            }
                            @if (i == 0)
                            {
                                <div style="padding:3px; background-color:rgb(209,91,71); position:absolute;bottom:10px;left:5px; color:#FFF;">Головне</div>
                            }
                        </div>
                    </li>
                }
            </ol>
        </div>
        <button class="btn btn-info" id="saveImagesOrder">Зберегти порядок / Оновити головне зображення</button>
    }
}
else
{
    <p>
        Редагування зображеннь доступно для збереженного продукта
    </p>
}
