@using Benefit.Domain.Models
@model Product
@if (Model.Name != null)
{
    <br/>
    <p>
        Галерея
    </p>
    <div id="dZUpload" class="dropzone">
    </div>
}
else
{
    <p>
        Редагування зображеннь доступно для збереженного продукта
    </p>
}
