@using Benefit.Domain.Models
@model Product
@if (Model.Name != null)
{
    <br />
    <p>
        Галерея
    </p>
    <div id="dZUpload" class="dropzone">
    </div>
    if (Model.Images.Any())
    {
        <br />
        <p>Порядок зображень</p>
        <div>
            <ol class="dd-list" id="imagesOrder">
                @foreach (var image in Model.Images.Where(entry => entry.ImageType == ImageType.ProductGallery).OrderBy(entry => entry.Order))
                {
                    <li class="cursor-move width-10" data-image-id="@image.Id">
                        <div class="dd-handle">
                            @if (image.IsAbsoluteUrl)
                            {
                                <img src="@image.ImageUrl" height="70" />
                            }
                            else
                            {
                                <img src="~/Images/ProductGallery/@Model.Id/@image.ImageUrl" height="70" />
                            }
                        </div>
                    </li>
                }
            </ol>
        </div>
        <button class="btn btn-info" id="saveImagesOrder">Зберегти порядок</button>
    }
}
else
{
    <p>
        Редагування зображеннь доступно для збереженного продукта
    </p>
}
