@using Benefit.Common.Constants
@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@using Benefit.Web.Models.ViewModels
@model  Benefit.Domain.Models.Product

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Статус модерації</label>
        <div class="col-md-9">
            @Html.EnumDropDownListFor(m=>m.ModerationStatus)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Коментарій модерування</label>
        <div class="col-md-9">
            @Html.TextBoxFor(m=>m.Comment)
        </div>
    </div>

    @if (Model.LastModified != null)
    {
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Коли створено</label>
            <div class="col-md-9">
                @Html.TextBox("AddedOn", Model.AddedOn.ToString(), new { @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Коли останній раз редагувалось</label>
            <div class="col-md-9">
                @Html.TextBox("LastModified", Model.LastModified.ToLocalDateTimeWithFormat(), new { disabled = "true" })
            </div>
        </div>
    }
</div>