@model Benefit.Domain.Models.Product
@if (Model.Category == null)
{
    <div>Редагування опцій доступно після збереження продукта</div>
}
else
{
    @Html.ActionLink("Редагувати опції", "Index", "ProductOptions", new { productId = Model.Id }, new { target = "blank" })
}
