@model Benefit.Web.Models.Admin.ProductFilters
@{
    ViewBag.Title = "Товари";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>
    <script>
        $(function () {
            $(".chosen-select").chosen();
        });

        function LockUnlock(id) {
            $.post(routePrefix + "/Admin/Products/LockUnlock?id=" + id,
                function (data) {
                    flashSuccess("Статус товару змінено");
                    $(".lockUser-" + id).removeClass("icon-lock");
                    $(".lockUser-" + id).removeClass("icon-unlock");
                    if (data) {
                        $(".lockUser-" + id).addClass("icon-lock");
                    } else {
                        $(".lockUser-" + id).addClass("icon-unlock");
                    }
                });
        }

        function DeleteProduct(id, name) {
            if (confirm("Видалити товар " + name + "?")) {
                $.post(routePrefix + "/Admin/Products/Delete?id=" + id,
                    function (data) {
                        if (data) {
                            flashSuccess("Товар видалено");
                            $("#tr-" + id).remove();
                        }
                    });
            }
        }
    </script>
}

@section styles{
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
}

@using (Ajax.BeginForm("ProductsSearch", null, new AjaxOptions()
    {
        OnBegin = "CheckSearchLength",
        HttpMethod = "POST",
        UpdateTargetId = "searchResults"
    }, new { @class = "form-search" }))
{
    <div class="col-sm-2 border-right page-content">
        <div class="row">
            @Html.ActionLink("Створити товар", "CreateOrUpdate", "Products", null, new { @class = "btn btn-info" })
        </div>
        <br />
        @Html.Partial("_Filters", Model)
    </div>
    <div class="col-sm-10">
        <div class="row right">
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input name="search" id="searchText" type="text" placeholder="Введіть назву або код товару" class="form-control search-query">
                    <span class="input-group-btn">
                        <button class="btn btn-purple btn-sm" type="submit">
                            Пошук
                            <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div id="searchResults">
        </div>
    </div>
}