@model Benefit.Domain.Models.Order

<div class="basket_modal modal fade" id="basket_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true"><span></span></div>
            <div class="modal-body">
                <p class="basket_modal_title">Товари в кошику</p>
                <table class="basket_modal_table">
                    <thead>
                        <tr class="basket_modal_table_row">
                            <th>Назва</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th>Сума</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">
                                <ul>
                                    <li>Середземноморська</li>
                                    <li>яйце</li>
                                    <li>пармезан</li>
                                    <li>упаковка</li>
                                </ul>
                            </td>
                            <td class="basket_modal_td">
                                <ul>
                                    <li>
                                        <div class="modal_amount_wrap">
                                            <div class="product_modal_minus">-</div>
                                            <input class="product_modal_amount" type="text" value="1">
                                            <div class="product_modal_plus">+</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="modal_amount_wrap">
                                            <div class="product_modal_minus">-</div>
                                            <input class="product_modal_amount" type="text" value="1">
                                            <div class="product_modal_plus">+</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="modal_amount_wrap">
                                            <div class="product_modal_minus">-</div>
                                            <input class="product_modal_amount" type="text" value="1">
                                            <div class="product_modal_plus">+</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="modal_amount_wrap">
                                            <div class="product_modal_minus">-</div>
                                            <input class="product_modal_amount" type="text" value="1">
                                            <div class="product_modal_plus">+</div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td class="basket_modal_td">
                                <ul>
                                    <li>65,00</li>
                                    <li>4,00</li>
                                    <li>15,00</li>
                                    <li>8,00</li>
                                </ul>
                            </td>
                            <td class="basket_modal_td">95,00</td>
                            <td class="basket_modal_td">
                                <ul>
                                    <li><div class="delete_product"></div></li>
                                    <li><div class="delete_product"></div></li>
                                    <li><div class="delete_product"></div></li>
                                    <li><div class="delete_product"></div></li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Філе куряче</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input type="text" class="product_modal_amount" value="0,5">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">65,50</td>
                            <td class="basket_modal_td">32,75</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Банани</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input type="text" class="product_modal_amount" value="0,32">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">48,10</td>
                            <td class="basket_modal_td">15,00</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Сир серпц. королівський 45%</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input class="product_modal_amount" type="text" value="1">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">13,76</td>
                            <td class="basket_modal_td">13,76</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Капуста брокколі ТМ Шеф Кухар 400 гр</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input type="text" class="product_modal_amount" value="0,15">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">11,50</td>
                            <td class="basket_modal_td">0,76</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Цукерка Konafetto крем-згущене молоко</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input type="text" class="product_modal_amount" value="0,3">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">32,50</td>
                            <td class="basket_modal_td">10,05</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                        <tr class="basket_modal_table_row">
                            <td class="basket_modal_td">Молоко</td>
                            <td class="basket_modal_td">
                                <div class="modal_amount_wrap">
                                    <div class="product_modal_minus">-</div>
                                    <input class="product_modal_amount" type="text" value="1">
                                    <div class="product_modal_plus">+</div>
                                </div>
                            </td>
                            <td class="basket_modal_td">14,00</td>
                            <td class="basket_modal_td">14,00</td>
                            <td class="basket_modal_td"><div class="delete_product"></div></td>
                        </tr>
                    </tbody>
                </table>
                <p class="basket_modal_price">Всього:  282,36</p>
                <div class="basket_modal_kontrols clearfix">
                    <a href="#" class="goto_back">Продовжити покупки</a>
                    <a href="#" class="goto_ahead">Оформити замовлення</a>
                </div>
                <p class="get_bonus">Ви отримаєте 43,60 бонусів</p>
                <p class="basket_recomendation_title">Рекомендовані товари</p>
                <div class="product_recomendation">
                    <div class="product_recomendation_item">
                        <div class="product_recomendation_img_wrap">
                            <img src="assets/img/cola.jpg" alt="cola">
                        </div>
                        <p class="product_recomendation_name">Coca-cola, 1л</p>
                        <div class="product_recomendation_rating">
                            <span class="rating_star good"></span>
                            <span class="rating_all">35 відгуків</span>
                        </div>
                        <p class="product_recomendation_price">18,50 грн</p>
                    </div>

                    <div class="product_recomendation_item">
                        <div class="product_recomendation_img_wrap">
                            <img src="assets/img/nestea.jpg" alt="nestea">
                        </div>
                        <p class="product_recomendation_name">Nestea, 1л</p>
                        <div class="product_recomendation_rating">
                            <span class="rating_star good"></span>
                            <span class="rating_all">8 відгуків</span>
                        </div>
                        <p class="product_recomendation_price">28,50 грн</p>
                    </div>

                    <div class="product_recomendation_item">
                        <div class="product_recomendation_img_wrap">
                            <img src="assets/img/plate_01.jpg" alt="cezar">
                        </div>
                        <p class="product_recomendation_name">Салат Цезар, 350 гр.</p>
                        <div class="product_recomendation_rating">
                            <span class="rating_star middle"></span>
                            <span class="rating_all">18 відгуків</span>
                        </div>
                        <p class="product_recomendation_price">94,00 грн</p>
                    </div>

                    <div class="product_recomendation_item">
                        <div class="product_recomendation_img_wrap">
                            <img src="assets/img/plate_02.jpg" alt="spring_salad">
                        </div>
                        <p class="product_recomendation_name">Салат весняний, 220 гр</p>
                        <div class="product_recomendation_rating">
                            <span class="rating_star good"></span>
                            <span class="rating_all">15 відгуків</span>
                        </div>
                        <p class="product_recomendation_price">69,00 грн</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>