@using Benefit.Common.Helpers
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.CompleteOrderViewModel


@foreach (var payment in Model.PaymentTypes)
{
    <div class="col-sm-3">
        <div class="radio-inline">
            <label>
                <input type="radio" id="@payment.ToString()" name="PaymentType" value="@payment.ToString()">
                @Enumerations.GetEnumDescription(payment)
            </label>
            @if (payment == PaymentType.Bonuses)
            {
                <a href="@Url.RouteUrl("pagesRoute", new { id = "faq" })#vukorustatu_bonysu" target="_blank">
                    <span class="label label-info label-as-badge" style="font-size: 1em;">
                        <strong>?</strong>
                    </span>
                </a>
            }
        </div>
    </div>
}


