@{
    ViewBag.Title = "Кошик покупок";
}
<div class="wraps hover_shine">
    <div class="wrapper_inner front">
        <div class="right_block  wide_">
            <div class="middle ">
                <div class="container">
                    <div class="catalog_section_list row items">
                        <div class="section_block">
                            <div class="sections_wrapper">
                                <div class="list items">
                                    <div class="margin0">
                                        <div class="page-top maxwidth-theme no-padding">
                                            <h1 style="text-align: left;" class="no-padding">Кошик покупок</h1>
                                        </div>
                                        @Html.Action("GetCart")
                                    </div>
                                </div>
                            </div>
                            <br style="clear: both;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="left_block hidden-xs">
            <div class="left_catalog">
                @Html.Partial("_SocialGroups")
            </div>
        </div>
    </div>
</div>