@model string
@{
    ViewBag.Title = "Дякуємо за ваше замовлення";
}

<h2>Дякуємо за ваше замовлення №@Model!</h2>
<p>
    Наш менеджер вже пляше від радості з цього приводу, зараз він заспокоїться і обов’язково Вам зателефонує!
</p>
<p>
    <img src="~/Content/img/dance.gif"/>
</p>