@model Benefit.Web.Models.Admin.EditUserViewModel

<fieldset>
    <legend>Нарахувати доступні бонуси</legend>
    <input type="text" id="bonuses-sum" placeholder="Сума" class="number-float-input" />
    <input type="text" id="bonuses-comment" placeholder="Коментар" />
    <button type="button" class="btn btn-success" id="add-bonuses-payment">Нарахувати</button>
</fieldset>