@model Benefit.Web.Models.Admin.EditUserViewModel

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Статус</label>

        <div class="col-sm-9">
            @Html.EnumDropDownListFor(m => m.Status, "Не має", new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Кількість місяців підтвердження (підряд)</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.StatusCompletionMonths, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>
</div>
