@model List<Benefit.Domain.Models.Category>

@{
    ViewBag.Title = "Категорії";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <link href="~/Areas/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/styles/categories.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#catLists").on("click", ".cat-list ul li", function () {
                var currentListContaner = $(this).parents(".cat-list");
                currentListContaner.find("ul li .controls").hide();
                currentListContaner.find("ul li .cat-name").removeClass("cat-active");
                currentListContaner.find("ul li").removeClass("cat-bg-active");
                $(this).find(".controls").show();
                $(this).find(".cat-name").addClass("cat-active");
                $(this).addClass("cat-bg-active");
            });

            $("#catLists").on("click", ".cat-name", function () {
                var catId = $(this).attr("data-cat-id");
                var currentListContaner = $(this).parents(".cat-list");
                currentListContaner.nextAll().remove();
                $.get(routePrefix + "/Admin/Categories/CategoriesList?parentCategoryId=" + catId, function (data) {
                    currentListContaner.after(data);
                    currentListContaner.after('<span class="label label-lg label-pink arrowed-right pull-left margin-right-20 width-3">&nbsp;</span>');
                    $(".cat-list ul").sortable();
                });
            });

            $(".cat-list ul").sortable();
            $(".cat-list ul").disableSelection();
        });

        $("#catLists").on("click", "#saveCatsOrder", function () {
            $("#saveCatsOrder").prop("disabled", true);
            var currentListContaner = $(this).parents(".cat-list");
            var sortedCats = [];
            currentListContaner.find("li").each(function () {
                var catId = $(this).attr("data-cat-id");
                sortedCats.push(catId);
            });
            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: routePrefix + "/Admin/Categories/Index",
                data: JSON.stringify({ sortedCategories: sortedCats }),
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    flashMessage(data);
                    $("#saveCatsOrder").removeAttr("disabled");
                },
                error: function (data) {
                    console.debug(data);
                }
            });
        });

        function DeleteCategory(id, name) {
            if (!confirm('Видалити категорію ' + name + ' і всі дочірні категорії?')) {
                return false;
            }
            $.post(routePrefix + "/Admin/Categories/Delete?id=" + id,
                function (data) {
                    if (data) {
                        flashMessage("Категорію видалено");
                        $("#li-" + id).remove();
                    }
                });
        }
    </script>
}
<div class="nav-search" id="nav-search" style="position: static;">
    @using (Html.BeginForm("Index", "Categories", FormMethod.Get, new { @class = "form-search" }))
    {
        <div class="input-group col-md-4">
            <input class="form-control search-query" placeholder="Пошук..." type="text">
            <span class="input-group-btn">
                <button type="button" class="btn btn-purple btn-sm">
                    Знайти
                    <i class="icon-search icon-on-right bigger-110"></i>
                </button>
            </span>
        </div>
    }
    <br />
    @if (Model.Any())
    {
        <div>
            Результати пошуку
        </div>
        foreach (var cat in Model)
        {
            <div class="row">

            </div>
        }
    }
    <div id="catLists">
        @Html.Action("CategoriesList")
    </div>
    <div id="productsList">

    </div>
</div>