@using Benefit.Common.Extensions
@model ICollection<Benefit.Domain.Models.Seller>

@{
    ViewBag.Title = "Онлайн статус терміналів";
    var now = DateTime.UtcNow;
}
@using (Html.BeginForm("OnlineStatus", "Terminal", FormMethod.Get))
{
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input name="search" id="searchText" type="text" placeholder="Введіть назву постачальника" class="form-control search-query">
                <span class="input-group-btn">
                    <button class="btn btn-purple btn-sm" type="submit">
                        Пошук
                        <i class="icon-search icon-on-right bigger-110"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
}
<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Назва
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Останній час онлайн
                </th>
                <th>
                    Тип
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seller in Model)
            {
                <tr>
                    <td>
                        @seller.Name
                    </td>
                    <td>
                        @if (seller.TerminalLastOnline != null)
                        {
                            var difference = (now - seller.TerminalLastOnline).Value.TotalHours;
                            string statusClass;

                            if (difference <= 1)
                            {
                                <span class="label label-sm label-success">Online</span>
                            }
                            if (difference > 1 && difference <= 3)
                            {
                                <span class="label label-sm label-warning">Receintly Online</span>
                            }
                            if (difference > 3)
                            {
                                <span class="label label-sm label-danger">Offline</span>
                            }
                        }
                        else
                        {
                            <span class="label label-sm label-default">No data</span>
                        }
                    </td>
                    <td>
                        @if (seller.TerminalLastOnline != null)
                        {
                            @seller.TerminalLastOnline.Value.ToLocalDateTimeWithFormat()
                        }
                    </td>
                    <td>
                        @if (seller.IsObsoleteTerminal)
                        {
                            <a href="#" title="Старий термінал(планшет)">
                                <i class="icon icon-tablet red"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#" title="NFC Reader">
                                <i class="icon icon-terminal green"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
