@using Benefit.DataTransfer.ViewModels

@{
    ViewBag.Title = "Відновлення паролю";
}

<div class="wraps hover_shine padding-bottom-15">
    <section class="page-top maxwidth-theme">
        @Html.Partial("_BreadcrumbsPartial", new BreadCrumbsViewModel() { IsNews = false, Page = new Benefit.Domain.Models.InfoPage { Name = "Відновлення паролю" } })
        <h1 id="pagetitle" class="no-padding no-margin" itemprop="name">
            Відновлення паролю
        </h1>
    </section>
    <div class="maxwidth-theme">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <p>Введіть Email адресу, з якою ви реєструвались на сайті</p>
                @Html.TextBox("Email", null, new { @class = "width-20" })
                <input type="submit" value="Відправити" class="btn btn-success" />
            </fieldset>
        }
    </div>
</div>
