@{
    ViewBag.Title = "Відновлення паролю";
}

<div class="page-top maxwidth-theme">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Відновлення паролю</legend>
            <p>Введіть Email адресу, з якою ви реєструвались на сайті</p>
            @Html.TextBox("Email", null, new { @class = "width-20" })
            <input type="submit" value="Відправити" class="btn btn-success"/>
        </fieldset>
    }
</div>
