@{
    ViewBag.Title = "Успішна реєстрація";
}
<section class="page-top maxwidth-theme">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: greenyellow"></span>
        Дякуємо за реєстрацію на нашому ресурсі!
    </h2>
    <p>
        На вказану вами електрону адресу було відправлено лист із активацією акаунту. Будь ласка перевірте вашу електрону пошту та перейдіть за посиланням, щоб активувати свій акаунт.
    </p>
</section>
