@model Dictionary<string,string>
@{
    var regionNames = string.Join(",", Model.Values);
    var regionId = Model.Keys.Count == 0 ? "0" : Model.FirstOrDefault().Key;
}
<div class="modal purchase-region" tabindex="-1" role="dialog" style="text-align: center; z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="font-size: 2em; text-align: center; line-height: 1.5em;">
                    Замовлення приймаються тільки по м. <span class="purchase-region-container">@regionNames</span>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <a class="btn btn-default width-30 select_place_container" data-dismiss="modal">Змінити регіон</a>
                <a class="btn width-30" data-dismiss="modal">Закрити</a>
            </div>
        </div>
    </div>
</div>