@model Benefit.Domain.Models.Product

@{
    ViewBag.Title = @Model.Name;
}

@section LeftAside{

}
<main class="full_content full_content_product">
    <div class="product_row clearfix">
@*        @Html.Partial("_BreadcrumbsPartial", Model.Breadcrumbs)*@
    </div>
</main>
