@model Benefit.Web.Models.Admin.SellerViewModel

<div class="form-group">
    <label class="control-label no-padding-right">Widget</label>
    <div>
        @Html.TextAreaFor(entry => entry.Seller.Widget, new { cols = 70, rows = 5, @class="width-50" })
    </div>
</div> 