@using Benefit.Domain.Models
@model Benefit.Web.Models.Admin.SellerViewModel

<div class="form-group">
    <label class="control-label no-padding-right">Ключові слова для пошуку на сайті (через кому)</label>
    <div>
        @Html.TextBoxFor(entry => entry.Seller.SearchTags, new { @class="width-50" })
    </div>
</div> 
<div class="form-group">
    <label class="control-label no-padding-right">Опис</label>
    <div>
        @Html.TextAreaFor(entry => entry.Seller.Description, new { id = "sellerDescription", cols = 70, rows = 5 })
    </div>
</div> 
<div>
    <h3>Логотип:</h3>
    <input type="file" name="sellerLogo" id="sellerLogo" />
    @{
        var img = Model.Seller.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerLogo);
        var imgSrc = img == null ? "" : img.ImageUrl;
    }
    <img src="~/Images/SellerLogo/@imgSrc" class="sellerLogo" />
</div>
@if (Model.Seller.Id != null)
{
    <br />
    <p>
        <h3>Галерея</h3>
        <br />
        Клікніть на полі галереї або перетягніть на нього зображення 
    </p>
    <div id="dZUpload" class="dropzone">
    </div>
    if (Model.Seller.Images.Any())
    {
        <br />
        <p>Порядок зображень</p>
        <div>
            <ol class="dd-list" id="imagesOrder">
                @foreach (var image in Model.Seller.Images.Where(entry => entry.ImageType == ImageType.SellerGallery).OrderBy(entry => entry.Order))
                {
                    <li class="cursor-move width-10" data-image-id="@image.Id">
                        <div class="dd-handle">
                            <img src="~/Images/SellerGallery/@Model.Seller.Id/@image.ImageUrl" height="70" />
                        </div>
                    </li>
                }
            </ol>
        </div>
        <button class="btn btn-info" id="saveImagesOrder">Зберегти порядок</button>
    }
}
else
{
    <p>
        Редагування зображеннь доступно для збереженного постачальника
    </p>
}