@using Benefit.Domain.Models
@model Seller
<div>
    <h3>Логотип:</h3>
    <input type="file" name="sellerLogo" id="sellerLogo" />
    @{
        var img = Model.Images.FirstOrDefault(entry => entry.ImageType == ImageType.SellerLogo);
        var imgSrc = img == null ? "" : img.ImageUrl;
    }
    <img src="~/Images/SellerLogo/@imgSrc" class="sellerLogo" />
</div>
@if (Model.Id != null)
{
    <br />
    <p>
        <h3>Галерея</h3>
        <br />
        Клікніть на полі галереї або перетягніть на нього зображення
    </p>
    <div id="dZUpload" class="dropzone">
    </div>
}
else
{
    <p>
        Редагування зображеннь доступно для збереженного постачальника
    </p>
}