<div id="importFiles">
    <h3 class="red" id="warning-message">Імпорт з файлу зробить неактивними всі товари з бази, яких немає у файлі імпорту.</h3>
    <h2 class="underlined">
        1C Commerce ML
    </h2>
   @* <div>
        Завантажити Import файл
        <input type="file" name="ImportFile" id="UploadImportFile" class="uploadImportFile" />
    </div>
    <div>
        Завантажити Prices файл
        <input type="file" name="PricesFile" id="txtUploadFile" class="uploadImportFile" />
    </div>*@
    <button type="button" class="btn btn-success" id="1CCommerceML">Завантажити</button>
</div>