@model Benefit.Web.Models.Admin.SellerViewModel

<div class="form-group">
    <label class="control-label no-padding-right">Широта</label>
    <div>
        @Html.TextBoxFor(entry => entry.Seller.Latitude, new { @class = "width-50 number-float-input" })
    </div>
</div>
<div class="form-group">
    <label class="control-label no-padding-right">Довгота</label>
    <div>
        @Html.TextBoxFor(entry => entry.Seller.Longitude, new { @class = "width-50 number-float-input" })
    </div>
</div> 