@using Benefit.Common.Helpers
@using Benefit.Domain.Models.Enums
@model Benefit.Web.Models.Admin.SellerViewModel

<fieldset>
    <legend>Безпека</legend>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="Seller_RepeatingTransactionInterval">Інтервал підсвітки транзакцій, що повторюються (год)</label>
            <div class="col-xs-10 col-sm-5">
                @Html.TextBoxFor(m => m.Seller.RepeatingTransactionInterval, new { type = "number" })
            </div>
        </div>
    </div>
</fieldset>