@model Benefit.Web.Models.Admin.SellerViewModel

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Логін для терміналу</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Seller.TerminalLogin, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Пароль для терміналу</label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Seller.TerminalPassword, new { @class = "col-xs-10 col-sm-5" })
        </div>
    </div>
</div>