@model Benefit.Web.Models.Admin.SellerFilterOptions

@{
    ViewBag.Title = "Постачальники";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Areas/Admin/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/chosen.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/moment.min.js"></script>
    <script src="~/Areas/Admin/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chosen.jquery.min.js"></script>

    <script>
        $(function() {
            $(".chosen-select").chosen({
                search_contains: true
        });

            $('#id-date-range-picker-1').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY'
                },
                ranges: {
                    'Сьогодні': [moment(), moment()],
                    'Вчора': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Цей тиждень': [moment().startOf('week'), moment().endOf('week')],
                    'Цей Місяць': [moment().startOf('month'), moment().endOf('month')],
                    'Останній місяць': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            });
        });

        function LockUnlock(id) {
            $.post(routePrefix + "/Admin/Sellers/LockUnlock?id=" + id,
                function(data) {
                    flashMessage("Статус постачальника змінено");
                    $(".lockUser-" + id).removeClass("icon-lock");
                    $(".lockUser-" + id).removeClass("icon-unlock");
                    if (data) {
                        $(".lockUser-" + id).addClass("icon-lock");
                    } else {
                        $(".lockUser-" + id).addClass("icon-unlock");
                    }
                });
        }

        function DeleteSeller(id) {
            if (confirm("Видалити постачальника " + name + "?")) {
                $.post(routePrefix + "/Admin/Sellers/Delete?id=" + id,
                    function(data) {
                        if (data) {
                            flashMessage("Постачальника видалено");
                            $("#tr-" + id).remove();
                        }
                    });
            }
        }
    </script>
}

    @using (Ajax.BeginForm("SellersSearch", null, new AjaxOptions()
    {
        OnBegin = "CheckSearchLength",
        OnComplete = "onComplete",
        OnFailure = "onSuccess",
        OnSuccess = "onFailure",
        HttpMethod = "POST",
        UpdateTargetId = "searchResults",
    }, new {@class = "form-search"}))
    {
        <div class="col-sm-2 border-right page-content">
            <div class="row">
                @Html.ActionLink("Створити постачальника", "CreateOrUpdate", "Sellers", null, new {@class = "btn btn-info"})
            </div>
            <br />
            @Html.Partial("_Filters", Model)
        </div>
        <div class="col-sm-10">
            <div class="row right">
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input name="search" id="searchText" type="text" placeholder="Введіть назву, ПІБ власника або місто постачальника" class="form-control search-query">
                        <span class="input-group-btn">
                            <button class="btn btn-purple btn-sm" type="submit">
                                Пошук
                                <i class="icon-search icon-on-right bigger-110"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div id="loadingDisplay" class="progressBarLoad">
                <h2>Пошук в базі данних...</h2>
                <div class="progress progress-striped ">
                    <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                </div>
            </div>
            <div id="searchResults">
            </div>
        </div>
    }