@{
    ViewBag.Title = "Сторінку не знайдено";
}

<p style="font-size: 2em;">Упс... помилка 404. Тобто сторінка, яку Ви шукали, десь поділась. Але поки ми її шукаємо, ви можете знайти щось цікавеньке <a href="/">ТУТ</a></p>