@model Benefit.Domain.Models.Seller
<div class="provider_container">
    <div class="provider">

        <div class="provider_main_info">
            <div class="provider_bonus_label">10% <br>бонус</div>
            <div class="provider_img_wrap">
                <img src="assets/img/greenwich.png" alt="greenwich">
            </div>
            <p class="provider_name">Greenwich Lounge Bar</p>
            <p class="provider_type">Ресторан</p>
            <div class="rating_wrap">
                <div class="perelik_rating  good"></div>
                <p class="rating_reviews">155 відгуків</p>
            </div>
            <div class="reviews_menu_wrap">
                <a href="#" class="reviews_info">Інфо</a>
                <a href="#" class="reviews_menu">Меню</a>
            </div>
        </div>
        <div class="provider_additional_info">
            <div class="provider_address"><span>м. Мукачево,<br> вул. Д. Галицького, 15</span></div>
            <div class="provider_benefit_card"><span>Benefit Card</span></div>
            <div class="provider_delivery"><span>Доставка по м. Мукачево та району</span></div>
            <div class="provider_order_intake"><span>Прийом замовлень<br> з 9:00 до 23:00</span></div>
            <div class="provider_ball_ratio"><span>2 грн = 1 бал</span></div>
            <div class="provider_bonus_payment"><span>Розрахунок бонусами</span></div>
        </div>
    </div>
</div>
