.cat-active {
    color: #83b81a !important;
}

.cat-inactive {
    color: #E0E0E0 !important;
}

.cat-bg-active {
    background-color: #f9f9f9;
}

.cat-list {
    float: left;
    width: 340px;
    margin-right: 20px;
}

    .cat-list div.container {
        height: 500px;
        overflow-y: auto;
    }

    .cat-list ul {
        font-family: "Acer Foco", ​"Trebuchet MS", ​ Arial, ​ sans-serif;
        list-style: none;
        margin-left: 5px;
    }

        .cat-list ul li:hover {
            background-color: #f9f9f9;
        }

        .cat-list ul li {
            padding: 5px 0;
        }

            .cat-list ul li .cat-name {
                display: block;
                font-size: 14px;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
                padding-top: 5px;
                cursor: pointer;
                display: inline-block;
            }
