@using Benefit.Common.Extensions
@using Benefit.Domain.Models
@model Benefit.DataTransfer.ViewModels.PartnerTransactionsViewModel

<div id="bonuses_invitation" class="bonuses_invitation tab-pane fade">
    <div class="controls_block clearfix">
        <form class="controls_block_form">
            <div class="finance_tab_title">
                <a href="" class="partner_menu_back"></a>
                <span>Бонус за запрошення</span>
            </div>
            <p class="controls_block_title orders_title">Пошук по даті нарахувань</p>
            <div class="controls_block order_controls clearfix">
                <form class="controls_block_form">
                    <div class="calendar-icon"></div>
                    <input class="controls_block_search width-40 date-range-picker" type="text" placeholder="Оберіть дату" value="@Model.DateRange">
                    <button class="controls_block_search_btn"><i></i>Пошук</button>
                </form>
            </div>
        </form>
    </div>
    <div class="finance_table_wrap">

        <table class="bonuses_invitation_table main_table">
            <tr>
                <th>Дата</th>
                <th>Запрошений партнер</th>
                @*            <th>Лінія <br>структури</th>*@
                <th>Бонуси</th>
            </tr>
            @foreach (var transaction in Model.Referals)
        {
        <tr>
            <td>
                @transaction.Time.ToLocalTimeWithDateFormat()
            </td>
            <td>
                @transaction.Payer.FullName
                @if (transaction.Type == TransactionType.BusinessLevel)
                {
                    <span> (Додаткове нарахування за бізнес комплект)</span>
                }
            </td>
            @*                <td class="structureLine">1</td>*@
            <td>@transaction.Bonuses.ToDoubleDigits()</td>
        </tr>
        }
        </table>
    </div>
</div>