@model Benefit.Domain.Models.ApplicationUser

@{
    ViewBag.Title = "Головна";
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}
@section PartnerHead
{
    @Html.Partial("_PartnerHead", Model)
}
<div class="partner_main col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <a href="#" class="banner banner_01"><img src="~/Images/PartnerPageBanners/baner_osobisti_kabinet1.jpg" alt="banner_01"></a>
    <a href="#" class="banner banner_02"><img src="~/Images/PartnerPageBanners/baner_osobisti_kabinet3.jpg" alt="banner_02"></a>
    <a href="#" class="banner banner_03"><img src="~/Images/PartnerPageBanners/baner_osobisti_kabinet4.jpg" alt="banner_03"></a>
    <a href="#" class="banner banner_04"><img src="~/Images/PartnerPageBanners/baner_osobisti_kabinet2.jpg" alt="banner_04"></a>
</div>