@model Benefit.Domain.Models.ApplicationUser

@{
    ViewBag.Title = "План винагород";
    ViewBag.CabinetProfileClass = "kabinet_profile";    
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}

<div class="margin-left-10">
    @Html.Raw(ViewBag.Page)
</div>