@model Benefit.Domain.Models.ApplicationUser
@{
    ViewBag.Title = "Заклади";
    ViewBag.CabinetProfileClass = "kabinet_profile";    
    Layout = "~/Areas/Cabinet/Views/Shared/_CabinetLayout.cshtml";
}
<div class="partner_main col-lg-9 col-md-9 col-sm-9 col-xs-9">
    @if (Model.OwnedSellers.Any())
    {
        <h3>Мої постачальники</h3>
        <ul>
            @foreach (var seller in Model.OwnedSellers)
            {
                <li>
                    @Html.ActionLink(seller.Name, "Index", "Orders", new { area = "Admin", SellerId = seller.Id }, null)
                </li>
            }
        </ul>
    }

    @if (Model.ReferedWebSiteSellers.Any())
    {
        <h3>Постачальники, що підключені мною до сайту</h3>
        <ul>
            @foreach (var seller in Model.ReferedWebSiteSellers)
            {
                <li>
                    @Html.ActionLink(seller.Name, "Info", "Postachalnyk", new { id = seller.UrlName, area = "" }, null)
                </li>
            }
        </ul>
    }
    @if (Model.ReferedBenefitCardSellers.Any())
    {
        <h3>Постачальники, що підключені мною до Benefit Card</h3>
        <ul>
            @foreach (var seller in Model.ReferedBenefitCardSellers)
            {
                <li>
                    @Html.ActionLink(seller.Name, "Info", "Postachalnyk", new { id = seller.UrlName, area = "" }, null)
                </li>
            }
        </ul>
    }
</div>