@using Benefit.Common.Extensions
@model IEnumerable<Benefit.Domain.Models.InfoPage>
<div class="news_blocks front">
    <div class="top_block">
        <div class="title_block">Новини</div>
        <a href='@Url.Action("index", "news")'>Всі новини</a>
        <div class="clearfix"></div>
    </div>
    <div class="info_block">
        <div class="news_items">
            @foreach (var item in Model)
            {
                <div class="item box-sizing dl">
                    <div class="info">
                        <div class="date">
                            @item.CreatedOn.ToLocalTimeWithDateFormat()
                        </div>
                        <a class="name dark_link" href="@Url.RouteUrl("pagesRoute", new {id = item.UrlName})">@item.Name</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>
