<div class="modal fade" role="dialog" id="personnel_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal_close" data-dismiss="modal" aria-hidden="true">
                <span></span>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="personell-error alert alert-danger" style="display: none;"></div>
                <h2>Новий касир</h2>
                <p>
                    <input type="text" id="PersonnelForm_Name" placeholder="Повне І'мя" class="width-60" />
                </p>
                <p>
                    <input type="text" id="PersonnelForm_Phone" placeholder="Телефон" class="width-60" />
                </p>
                <p>
                    <input type="text" id="PersonnelForm_CardNumber" placeholder="Код картки" class="width-60" />
                </p>
                <p>
                    <button type="button" class="btn btn-success" id="create-personnel">Створити касира</button>
                </p>
            </div>
        </div>
    </div>
</div>
