
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Змінюємось на краще</title>
    </head>
    <body>
        <div style="text-align: center;">
            <img src="~/Content/img/better.jpg"/>
        </div>
    </body>
</html>