@using Benefit.Common.Constants
@using Benefit.DataTransfer.ViewModels
@using Benefit.Domain.Models
@using Benefit.Services.Domain
@model List<Benefit.Domain.Models.Category>
@{
    ViewBag.Title = "Мапа закладів";
}
@section meta
{
    <meta name="description" content="Карта закладів Benefit Card" />
}
@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Ryf-Uk4SouHzTJPPuUXAVSmaAQ5X-oM"></script>

    <script>
        var map;
        var mapDataUrl = '@Url.Action("GetMapData")';

        function initMap() {
                    map = new google.maps.Map(document.getElementById('map'),
                        {
                            center: { lat: 50.127346, lng: 30.111094 },
                            zoom: 8
                        });
                    var location = '@HttpUtility.UrlDecode(RegionService.GetRegionName())';
                    var zoom = 13;
                    @if (RegionService.GetRegionId() == RegionConstants.AllUkraineRegionId)
                    {
                        <text>
                            location = 'Україна';
                            zoom = 6;
                        </text>
                    }
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'address': location },
                        function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                map.setCenter(results[0].geometry.location);
                                map.setZoom(zoom);
                            }
                        });
                }

        
        $(function() {
            $(window).load(function() {
                initMap();

                $.getJSON(mapDataUrl,
                    function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var content = "<strong>" +
                                data[i].Name +
                                "</strong><br/>" +
                                "<span>" +
                                data[i].Specialization +
                                "</span><br/>" +
                                "<span>Бонус: " +
                                data[i].UserDiscount +
                                "%</span><br/>" +
                                "<a target='_blank' href='" +
                                data[i].Url +
                                "'>" +
                                data[i].Url +
                                "</a><br/>" +
                                "<a href='https://www.google.com/maps/dir/?api=1&destination=" +
                                data[i].Latitude +
                                "," +
                                data[i].Longitude +
                                "'>Прокласти маршрут</a><br/>";
                            var infowindow = new google.maps.InfoWindow();
                            var marker = new google.maps.Marker({
                                position: { lat: data[i].Latitude, lng: data[i].Longitude },
                                map: map,
                                title: data[i].Name
                            });
                            google.maps.event.addListener(marker,
                                'click',
                                (function(marker, content, infowindow) {
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map, marker);
                                    };
                                })(marker, content, infowindow));
                        }
                    });
            });
        });
    </script>
}

<!--end-title_content-->
<div class="wraps hover_shine" id="content">
    <section class="page-top maxwidth-theme">
        @Html.Partial("_BreadcrumbsPartial", new BreadCrumbsViewModel() { IsNews = false, Page = new InfoPage() { Name = "Карта закладів Benefit Card" } })
        <h1 id="pagetitle" class="no-padding no-margin">Карта закладів Benefit Card</h1>
    </section>
    <div class="wrapper_inner wide_page">
        <div class="middle ">
            <div class="container">
                <div class="maxwidth-theme">
                    <div class="head-block top">
                        <div class="bottom_border"></div>
                    </div>
                    <div class="wrapper_inner ">
                        <div class="right_block  wide_">
                            <div class="middle ">
                                <div class="container">
                                    <div class="detail services">
                                        <div class="content">
                                            <div id="map" style="height: 600px;width: 100%;">
                                            </div>
                                        </div>
                                        <div class="wraps goods-block with-padding">
                                            <div style="clear: both"></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                    <div class="left_block">
                        @Html.Partial("_SocialGroups")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
